
.box-zinc {
  max-width: 960px;
  padding: 30px 0 0 0;
  margin: 0 auto;
  border-top: 1px solid #9d9d9d;
  p {
    margin:0;
    padding: 0 0 10px 0;
  }
  * {
    color: #635a54;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
  }
  .red {
    color: #f36633;
    display: inline-block;
    padding-bottom: 20px;
  }
}


#footer {
  max-width: 960px;

  .shareThis-list {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .box-960 .component-content .content {
    padding: 0;
  }
  .primary-darker-bg {
    padding: 10px 20px;
    background: #ececec;
    margin: 20px 0;
    * {
      color: #635a54;
      font-size: 15px;
      line-height: 1.4;
      font-weight: 400;
    }
    a {
      color: #f36633;
    }
    .red {
      color: #f36633;
    }
    .small-font {
      letter-spacing: initial;
      font-size: 13px;
    }
  }


  .box {
    margin-bottom: 0;
  }
  .primary-bg {
    background: #635a54;
    .content {
      padding: 0;
    }
    .richText {
      padding: 0;
      position: relative;
      text-align: left;
      ul {
        margin: 0;
        padding: 0;
        line-height: 1em;
        li {
          list-style-type: none;
          display: inline-block;
          color: $text-light;
          padding: 13px 0;

          a {
            color: $text-light;
            border-right: 1px dotted #fff;
            text-transform: inherit;
            display: inline-block;
            padding: 0 13px;
            font-size: 13px;
            &:hover {
              color: $text-light;
            }
          }
          &:last-child {
            a {
              border: 0;
            }
          }
        }
      }
    }
  }

  @include respond-to(mobile) {

    .shareThis-list {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .box-960 .component-content .content {
      padding: 0;
    }
    .primary-darker-bg {
      padding: 20px;
      .box.first {
        width: 40%;
        float: left;
        p {
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 1.3em;
        }
      }
      .box.last {
        width: 60%;
        float: left;
      }
      .small-font {
        letter-spacing: initial;
      }
    }


    font-size: 12px;
    .box {

    }
    .primary-bg {
      .content {

      }
      .richText {

        ul {
          margin: 0;
          padding: 10px 0;
          text-align: left;
          li {
            margin: 0;
            padding: 15px;
            width: 48%;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }

  }

  @include respond-to(tablet) {
    .primary-bg .richText ul li {
      padding: 15px;
    }
    .primary-darker-bg .section.first {
      padding-left: 15px;
    }
  }


  .zinc-code {
    width: 960px;
    max-width: 100%;
    padding: 0 10px;
    font-size: 1em;
    position: relative;
    margin: 0 auto;
    @include respond-to(desktop) {
      padding: 0;
    }
    p {
      font-size: 0.8rem;
    }
  }

}