

#header {

  padding: 10px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99999;
  top:0;
  text-align: center;

  .grid_3, .box-logo {
    padding-right: 20px;
    * {
      text-align: center!important;
    }
    .image.grid_6 {
      width: 50%!important;
    }
    .image.first {
      border-right: 2px solid #b1a59b;
    }
  }

  .grid_12 {
    max-width: 960px;
    float: none;
    margin: 0 auto !important;
    &.topnav_submenu {
      max-width: 100%;
    }
  }


  .image {
    padding-bottom: 5px!important;
    &.component {
      line-height: 0;
    }
  }
  .component  {
    margin: 0;
    padding: 0;

    &.alpha{
      a {
        display: inline-block;
        margin: 0;
        padding: 0;
        img {
          -webkit-transition: 1s; /* Safari */
          transition: 1s;
          height: 45px;
          margin: 0;
          padding: 0;
          display: block;
        }
      }

    }
  }

  &.main .layout-outer {
    padding: 0;
  }

  &.smallHeader {
    .navigation-root {
      -webkit-transition: 1s; /* Safari */
      transition: 1s;
      padding-top: 5px;
    }
    .box-logo, .grid_3 {
      padding-bottom: 10px!important;
      .image {  padding: 0;  }
      .image.last { display: none; }
    }
    .component  {
      margin: 0;
      padding: 0;

      &.alpha{
        a {
          display: inline-block;
          margin: 0;
          padding: 0;
          img {
            -webkit-transition: 1s; /* Safari */
            transition: 1s;
            height: 28px;
            margin: 0;
            padding: 0;
            display: block;
          }
        }

      }
    }
  }

  @include respond-to(mobile) {
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99999;
    top:0;
    .grid_9 {
      float: right;
      width: 45%;
    }
    .box-logo, .grid_3 {
      padding-bottom: 10px!important;
      width: 50%;
      float: left;
      .image, .image.grid_6 {
        padding: 0;
        width: 45%!important;
        display: inline-block;
      }
      .image.last { display: none; }
    }
    .navigation-root {
      -webkit-transition: 1s; /* Safari */
      transition: 1s;
      padding-top: 0;
    }


    .image {
      &.component {
        line-height: 0;
      }
    }
    .component  {
      margin: 0;
      padding: 0;

      &.alpha{
        a {
          display: inline-block;
          margin: 0;
          padding: 0;
          img {
            -webkit-transition: 1s; /* Safari */
            transition: 1s;
            height: 33px;
            margin: 0;
            padding: 0;
            display: block;
          }
        }

      }
    }

    &.main .layout-outer {
      padding: 0;
    }

    &.smallHeader {
      .navigation-root {
        -webkit-transition: 1s; /* Safari */
        transition: 1s;
        padding-top: 0;
      }
      .component  {
        margin: 0;
        padding: 0;

        &.alpha{
          a {
            display: inline-block;
            margin: 0;
            padding: 0;
            img {
              -webkit-transition: 1s; /* Safari */
              transition: 1s;
              height: 33px;
              margin: 0;
              padding: 0;
              display: block;
            }
          }

        }
      }
    }

  }


  @include respond-to(small-mobile) {


  }

  @include respond-to(tablet) {

    .box-logo, .grid_3 {
      padding: 10px 0!important;
      float: left;
      .image, .image.grid_6 {
        width: 45%!important;
        display: inline-block;
        img { width: 50px; height: auto;}
      }
      .image.last { display: none; }
    }
    padding: 8px 15px;
    .navigation-root .navigation-item .navigation-item-title { margin-left: 10px;}

  }

}