.articleTeaser {
  background-color: $text-light;
  transition: 0.6s;
  margin-bottom: 30px;
  &.grid_4.section {
    @include respond-to(tablet){
      margin-left: 2%!important;
      margin-bottom: 2%!important;
    }

  }

  &.color-1 {
    .articleTeaser-image-holder {
      border-color: $color-accent-1;
    }
  }
  &.color-2 {
    .articleTeaser-image-holder {
      border-color: $color-accent-2;
    }
  }
  &.color-3 {
    .articleTeaser-image-holder {
      border-color: $color-accent-3;
    }
  }
  &.color-4 {
    .articleTeaser-image-holder {
      border-color: $color-accent-4;
    }
  }
  &.color-5 {
    .articleTeaser-image-holder {
      border-color: $color-accent-5;
    }
  }

  .articleTeaser-text-description {
    min-height: 50px;
    p {
      margin: 0;
      padding: 0 0 10px 0;
      line-height: 1.2em;
    }
  }

  .articleTeaser-image-holder {
    border-bottom-width: 5px;
    border-bottom-color: $color-accent-1;
    border-bottom-style: solid;
    line-height: 0;
    @include respond-to(mobile) {
      width: 40%;
    }
    & > a {
      position: relative;
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -33px;
        margin-left: -33px;
        width: 65px;
        height: 65px;
        border: 3px solid #fff;
        border-radius: 50%;
        z-index: 9;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -7px;
        z-index: 10;
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 25px solid #ffffff;

      }
    }

    //.grayscale {
    //  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    //  -webkit-filter: grayscale(1);
    //  filter: grayscale(1);
    //  filter: gray
    //}



    img {
      transition: 0.6s;
      width: 100%;
      //filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: gray;
      position: relative;

    }
  }
  .articleTeaser-text-content {
    padding: 0 15px;
    padding-bottom: 20px;
    border-color: $color-secondary;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;

    h2, p {
      font-size: 14px;
    }
    h2 {
      padding-top: 20px;
      text-transform: uppercase;
      a {
        color: $color-primary;
        font-weight: bold;
      }
    }
  }
  &:hover {
    -webkit-box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
    img {
      transition: 0.6s;
      filter: grayscale(0%);
    }
  }
}

@include respond-to(mobile) {
  .articleTeaser {
    .component-content {
      display: flex;
      align-items: stretch;
      & > a {
        width: 40%;
        display: inline-block;
        img {
          height: 100%;
        }
      }

      .articleTeaser-text-content {
        padding: 10px;
        width: 60%;
        h2 {
          padding-top: 0;
        }
      }
    }
  }
}