@import '../../core/mixins';

.smart-link {
  margin: 10px 0;
  float: right;
}

.smart-link-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  padding-right: 10px;
}

.smart-link-list li {
  display: inline-block;
  *display: inline;
  margin-top: 15px;
}
.smart-link-next:after,
.smart-link-previous:before {
  position: relative;
  top: -1px;
  height: 14px;
  display: inline-block;
  width: 6px;
  font-size: 18px;
  color: $color-primary;
  opacity: 0.6;
}

.smart-link-next:after {
  @include font-awesome($fa-var-chevron-right);
  margin-left: 15px;
  font-size: 18px;
  opacity: 1;
}

.smart-link-previous:before {
  @include font-awesome($fa-var-chevron-left);
  margin-right: 15px;
}

.smart-link-next,
.smart-link-previous{
  font-size: 0;
}