@import "../../core/_mixins";

/*** SETTINGS ***/
$navigation-branch_border-width: 2px 2px 2px 2px;
$navigation-branch_border-style: solid;
$navigation-branch_border-color: #4a4a4a;

$navigation-item_font-size: 14px;
$navigation-item_line-height: 1.5;
$navigation-item_color: black;
$navigation-item_background: #e1e1e1;
$navigation-item_text-decoration: none;
$navigation-item_font-weight: normal;
$navigation-item_border-width: 0 0 0 0;
$navigation-item_border-style: solid;
$navigation-item_border-color: #4a4a4a;
$navigation-item_padding: 5px 15px 5px 15px;
$navigation-item_hover_background: #d5d5d5;

$navigation-item-level1_font-weight: bold;
$navigation-item-level1_padding: 10px 20px 10px 20px;
$navigation-item-level1_hover_background: #939191;

// basic styles (colors, borders etc.)
.navigation-root {
  text-align: left;
  z-index: 10;
  max-width: 100%;
}

.navigation-mobile-menu {
  display: none;
}

// no-js styles
.no-js {
  .navigation-level1 {
    > .navigation-branch {
      display: block;
    }
  }
  .navigation-root {
    &.navigation-branch {
      &.navigation-level1 {
        display: block;
      }
    }

  }
  .navigation-vertical {
    .navigation-item {
      .navigation-branch.navigation-level2 {
        display: block;
      }
    }
  }
  .navigation-horizontal {
    .navigation-item {
      .navigation-branch.navigation-level2 {
        display: block;
        margin: 0 0 -2px 0;
        border-left: none;
        border-right: none;
        position: static;
        > .navigation-item {
          float: none;
        }
      }
    }
  }
}

.navigation-branch {
  overflow: visible;
  margin: 0;
  padding: 0;
  list-style: none;
  border-color: $navigation-branch_border-color;
  border-width: $navigation-branch_border-width;
  border-style: $navigation-branch_border-style;
  @include box-sizing(border-box);
  &.navigation-level1 {
    border: none;
    display: block;
  }
}

.navigation-item {
  margin: 0 0 0 - nth_($navigation-item_border-width, 3) 0 - nth_($navigation-item_border-width, 4); /* so that borders collapse */
  border-color: $navigation-item_border-color;
  border-width: $navigation-item_border-width;
  border-style: $navigation-item_border-style;
  > .navigation-item-title {
    display: block;
    padding: $navigation-item_padding;
    background: $navigation-item_background;
    color: $navigation-item_color;
    font-size: $navigation-item_font-size;
    line-height: $navigation-item_line-height;
    font-weight: $navigation-item_font-weight;
    text-decoration: $navigation-item_text-decoration;
    @include ellipsis;
  }
  > a.navigation-item-title {
    &:hover {
      color: $navigation-item_color;
      background: $navigation-item_hover_background;
      text-decoration: $navigation-item_text-decoration;
    }
  }
  > span.navigation-item-title {
    cursor: default;
  }
  &.has-children {
    > .navigation-item-title {
      & .navigation-item-decoration {
        background-color: darken($navigation-item_background, 10);
      }
    }
  }
  &.has-active-child,
  &.is-active {
    > .navigation-item-title {
      color: $navigation-item_color;
      background: darken(#d5d5d5, 20);
      text-decoration: $navigation-item_text-decoration;
    }
  }
  &.is-open,
  .no-js &:hover {
    & > .navigation-branch {
      display: block;
    }
  }
  &.navigation-level1 {
    margin: 0 0 0 - nth_($navigation-branch_border-width, 1) 0 - nth_($navigation-branch_border-width, 4); /* so that borders collapse */
    border-color: $navigation-branch_border-color;
    border-width: $navigation-branch_border-width;
    border-style: $navigation-branch_border-style;
    box-sizing: border-box;
    > .navigation-item-title {
      color: $navigation-item_color;
      background: $navigation-item_background;
      text-decoration: $navigation-item_text-decoration;
      font-weight: $navigation-item-level1_font-weight;
      font-size: $navigation-item_font-size;
      line-height: $navigation-item_line-height;
      padding: $navigation-item-level1_padding;
    }
    > a.navigation-item-title {
      &:hover {
        color: $navigation-item_color;
        background: $navigation-item-level1_hover_background;
        text-decoration: $navigation-item_text-decoration;
      }
    }
    &.has-active-child,
    &.is-active {
      > .navigation-item-title {
        color: #FFF;
        background: darken(#939191, 20);
        text-decoration: $navigation-item_text-decoration;
      }
    }
  }
  &.navigation-level2 {
    border-top: 1px solid $navigation-branch_border-color;
  }
}

// navigation full / default styles
.navigation-branch.navigation-level2 {
  display: block;
}

.navigation-item > .navigation-item-title {
  padding-left: 40px;
}

// navigation-horizontal styles
.mod-touch {
  .navigation-horizontal {
    .navigation-item {
      .is-open.navigation-branch.navigation-level2 {
        display: block;
        position: relative;
        top: 0;
        left: 0;
      }
      &.is-open {
        .navigation-branch.navigation-level2 {
          overflow: hidden;
        }
      }
      &.navigation-level2 {
        &:first-child {
          border-top: none;
        }
      }
      .navigation-level2 {
        .navigation-item {
          width: 100%;
        }
      }
    }
  }
}

.mod-no-touch {
  .navigation-horizontal {
    .navigation-item {
      &:hover .navigation-branch.navigation-level2 {
        min-width: 100%;
        position: absolute;
        top: 41px;
        left: -2px;
        display: block;
        .navigation-item {
          float: none;
        }
      }
    }
  }
}

.navigation-horizontal {
  .navigation-item {
    float: left;
    position: relative;
    .navigation-branch.navigation-level2,
    .navigation-branch.navigation-level3 {
      display: none;
    }
    &.is-open {
      > .navigation-branch.navigation-level2,
      > .navigation-branch.navigation-level3 {
        display: block;
        float: none;
      }
    }
    &.navigation-level2 {
      &:first-child {
        border-top: none;
      }
    }
  }
  .has-children > .navigation-item-title {
    padding-right: 61px;
    background-image: none;
    .navigation-item-decoration {
      height: 41px;
      width: 41px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      line-height: 41px;
      &:after {
        @include font-awesome($fa-var-chevron-down);
        width: 41px;
        height: 41px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
      }
    }
    &:hover .navigation-item-decoration {
      background-color: $navigation-item-level1_hover_background;
    }
  }
  .has-children.navigation-level2 > .navigation-item-title {
      padding-right: 55px;
      .navigation-item-decoration {
          height: 31px;
          width: 31px;
          line-height: 31px;
          &:after {
              width: 31px;
              height: 31px;
          }
      }
  }
  .has-active-child > .navigation-item-title {
    .navigation-item-decoration {
      background-color: darken(#939191, 20);
    }
  }
  .navigation-level2 {
    &.navigation-branch {
      border-color: $navigation-branch_border-color;
      border-width: $navigation-branch_border-width;
      border-style: $navigation-branch_border-style;
    }
    .navigation-item-title {
      padding: $navigation-item_padding;
    }
  }
  .navigation-level2.navigation-root {
    max-width: none;
  }
}

// navigation-vertical styles
.navigation-vertical {
  .navigation-branch.navigation-level2,
  .navigation-branch.navigation-level3 {
    display: none;
  }
  .navigation-item.is-open {
    > .navigation-branch.navigation-level2,
    > .navigation-branch.navigation-level3 {
      display: block;
    }
  }
  .has-children > .navigation-item-title {
    position: relative;
    .navigation-item-decoration {
      height: 41px;
      width: 41px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      line-height: 41px;
      &:before {
        @include font-awesome($fa-var-chevron-down);
        width: 41px;
        height: 41px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
      }
    }
  }
    .has-children.navigation-level2 > .navigation-item-title {
      .navigation-item-decoration {
          height: 31px;
          width: 31px;
          line-height: 31px;
          &:before {
              width: 31px;
              height: 31px;
          }
      }
  }
  .has-active-child > .navigation-item-title {
    .navigation-item-decoration {
      background-color: darken($navigation-item_background, 10);
    }
  }
}

@include respond-to(desktop) {
  .mod-touch {
    .navigation-horizontal {
      .navigation-item {
        &.is-open {
          .navigation-branch.navigation-level2 {
            margin: 0 0 -2px -2px;
            position: absolute;
          }
        }
      }

    }
  }
}

@include respond-to(tablet) {
  .mod-touch {
    .navigation-horizontal {
      .navigation-item {
        width: 100%;
        &.is-open {
          .navigation-branch.navigation-level2 {
            margin: 0 0 -2px 0;
            border-left: none;
            border-right: none;
          }
        }
      }

    }
  }
}

@include respond-to(mobile) {
  // navigation-mobile-menu styles
  .mod-touch {
    .navigation-horizontal {
      .navigation-item {
        width: 100%;
        &.is-open {
          .navigation-branch.navigation-level2 {
            margin: 0 0 -2px 0;
            border-left: none;
            border-right: none;
            position: static;
          }
        }
      }

    }
  }
  .navigation-mobile-menu {
    display: block;
    width: 100%;
    height: 41px;
    position: relative;
    cursor: pointer;
    border-width: $navigation-branch_border-width;
    border-style: $navigation-branch_border-style;
    border-color: $navigation-branch_border-color;
    box-sizing: border-box;
    margin: 0 0 -2px -2px;
    overflow: hidden;
    background: rgb(245, 245, 245);
    &:after {
      @include font-awesome($fa-var-bars);
      display: block;
      width: 41px;
      height: 41px;
      position: absolute;
      top: 0;
      line-height: 38px;
      font-size: 25px;
      right: 0;
    }
  }
  .navigation-item.navigation-level1 {
    width: 100%;
  }
  .navigation-branch.navigation-level1 {
    display: none;
    &.is-open {
      display: block;
    }
  }
  .navigation-horizontal, .navigation-vertical {
    .navigation-item:hover {
      .navigation-branch.navigation-level2 {
        left: 0;
        border-left: none;
        border-right: none;
      }
    }
  }
}
