[class*="grid_"] {
    display: inline;
    float: left; }

.alpha {
    margin-left: 0 !important;
    clear: left; }

[id=wrapper] {
    width: 960px;
    margin: 0 auto; }

[id=wrapper] .main {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px; }

.main {
    width: 100%; }

.main:before,
.main:after {
    display: table;
    content: "";
    line-height: 0; }

.main:after {
    clear: both; }

.main [class*="grid_"] {
    display: block;
    width: 100%;
    float: left;
    margin-left: 2.08333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.main [class*="grid_"]:first-child {
    margin-left: 0; }

.main .grid_1 {
    width: 6.42361%; }

.main .prefix_1 {
    margin-left: 10.59028%; }

.main .prefix_1.alpha {
    margin-left: 8.50694% !important; }

.main .suffix_1 {
    margin-right: 8.50694%; }

.main .grid_2 {
    width: 14.93056%; }

.main .prefix_2 {
    margin-left: 19.09722%; }

.main .prefix_2.alpha {
    margin-left: 17.01389% !important; }

.main .suffix_2 {
    margin-right: 17.01389%; }

.main .grid_3 {
    width: 23.4375%; }

.main .prefix_3 {
    margin-left: 27.60417%; }

.main .prefix_3.alpha {
    margin-left: 25.52083% !important; }

.main .suffix_3 {
    margin-right: 25.52083%; }

.main .grid_4 {
    width: 31.94444%; }

.main .prefix_4 {
    margin-left: 36.11111%; }

.main .prefix_4.alpha {
    margin-left: 34.02778% !important; }

.main .suffix_4 {
    margin-right: 34.02778%; }

.main .grid_5 {
    width: 40.45139%; }

.main .prefix_5 {
    margin-left: 44.61806%; }

.main .prefix_5.alpha {
    margin-left: 42.53472% !important; }

.main .suffix_5 {
    margin-right: 42.53472%; }

.main .grid_6 {
    width: 48.95833%; }

.main .prefix_6 {
    margin-left: 53.125%; }

.main .prefix_6.alpha {
    margin-left: 51.04167% !important; }

.main .suffix_6 {
    margin-right: 51.04167%; }

.main .grid_7 {
    width: 57.46528%; }

.main .prefix_7 {
    margin-left: 61.63194%; }

.main .prefix_7.alpha {
    margin-left: 59.54861% !important; }

.main .suffix_7 {
    margin-right: 59.54861%; }

.main .grid_8 {
    width: 65.97222%; }

.main .prefix_8 {
    margin-left: 70.13889%; }

.main .prefix_8.alpha {
    margin-left: 68.05556% !important; }

.main .suffix_8 {
    margin-right: 68.05556%; }

.main .grid_9 {
    width: 74.47917%; }

.main .prefix_9 {
    margin-left: 78.64583%; }

.main .prefix_9.alpha {
    margin-left: 76.5625% !important; }

.main .suffix_9 {
    margin-right: 76.5625%; }

.main .grid_10 {
    width: 82.98611%; }

.main .prefix_10 {
    margin-left: 87.15278%; }

.main .prefix_10.alpha {
    margin-left: 85.06944% !important; }

.main .suffix_10 {
    margin-right: 85.06944%; }

.main .grid_11 {
    width: 91.49306%; }

.main .prefix_11 {
    margin-left: 95.65972%; }

.main .prefix_11.alpha {
    margin-left: 93.57639% !important; }

.main .suffix_11 {
    margin-right: 93.57639%; }

.main .grid_12 {
    width: 100%; }

.main .prefix_12 {
    margin-left: 104.16667%; }

.main .prefix_12.alpha {
    margin-left: 102.08333% !important; }

.main .suffix_12 {
    margin-right: 102.08333%; }

.main .grid_11 .grid_12 {
    width: 100%; }

.main .grid_11 .grid_11 {
    width: 100%; }

.main .grid_11 .prefix_11 {
    margin-left: 104.16667%; }

.main .grid_11 .prefix_11.alpha {
    margin-left: 102.08333% !important; }

.main .grid_11 .suffix_11 {
    margin-right: 102.08333%; }

.main .grid_11 .grid_10 {
    width: 90.7197%; }

.main .grid_11 .prefix_10 {
    margin-left: 94.88636%; }

.main .grid_11 .prefix_10.alpha {
    margin-left: 92.80303% !important; }

.main .grid_11 .suffix_10 {
    margin-right: 92.80303%; }

.main .grid_11 .grid_9 {
    width: 81.43939%; }

.main .grid_11 .prefix_9 {
    margin-left: 85.60606%; }

.main .grid_11 .prefix_9.alpha {
    margin-left: 83.52273% !important; }

.main .grid_11 .suffix_9 {
    margin-right: 83.52273%; }

.main .grid_11 .grid_8 {
    width: 72.15909%; }

.main .grid_11 .prefix_8 {
    margin-left: 76.32576%; }

.main .grid_11 .prefix_8.alpha {
    margin-left: 74.24242% !important; }

.main .grid_11 .suffix_8 {
    margin-right: 74.24242%; }

.main .grid_11 .grid_7 {
    width: 62.87879%; }

.main .grid_11 .prefix_7 {
    margin-left: 67.04545%; }

.main .grid_11 .prefix_7.alpha {
    margin-left: 64.96212% !important; }

.main .grid_11 .suffix_7 {
    margin-right: 64.96212%; }

.main .grid_11 .grid_6 {
    width: 53.59848%; }

.main .grid_11 .prefix_6 {
    margin-left: 57.76515%; }

.main .grid_11 .prefix_6.alpha {
    margin-left: 55.68182% !important; }

.main .grid_11 .suffix_6 {
    margin-right: 55.68182%; }

.main .grid_11 .grid_5 {
    width: 44.31818%; }

.main .grid_11 .prefix_5 {
    margin-left: 48.48485%; }

.main .grid_11 .prefix_5.alpha {
    margin-left: 46.40152% !important; }

.main .grid_11 .suffix_5 {
    margin-right: 46.40152%; }

.main .grid_11 .grid_4 {
    width: 35.03788%; }

.main .grid_11 .prefix_4 {
    margin-left: 39.20455%; }

.main .grid_11 .prefix_4.alpha {
    margin-left: 37.12121% !important; }

.main .grid_11 .suffix_4 {
    margin-right: 37.12121%; }

.main .grid_11 .grid_3 {
    width: 25.75758%; }

.main .grid_11 .prefix_3 {
    margin-left: 29.92424%; }

.main .grid_11 .prefix_3.alpha {
    margin-left: 27.84091% !important; }

.main .grid_11 .suffix_3 {
    margin-right: 27.84091%; }

.main .grid_11 .grid_2 {
    width: 16.47727%; }

.main .grid_11 .prefix_2 {
    margin-left: 20.64394%; }

.main .grid_11 .prefix_2.alpha {
    margin-left: 18.56061% !important; }

.main .grid_11 .suffix_2 {
    margin-right: 18.56061%; }

.main .grid_11 .grid_1 {
    width: 7.19697%; }

.main .grid_11 .prefix_1 {
    margin-left: 11.36364%; }

.main .grid_11 .prefix_1.alpha {
    margin-left: 9.2803% !important; }

.main .grid_11 .suffix_1 {
    margin-right: 9.2803%; }

.main .grid_10 .grid_12 {
    width: 100%; }

.main .grid_10 .grid_11 {
    width: 100%; }

.main .grid_10 .grid_10 {
    width: 100%; }

.main .grid_10 .prefix_10 {
    margin-left: 104.16667%; }

.main .grid_10 .prefix_10.alpha {
    margin-left: 102.08333% !important; }

.main .grid_10 .suffix_10 {
    margin-right: 102.08333%; }

.main .grid_10 .grid_9 {
    width: 89.79167%; }

.main .grid_10 .prefix_9 {
    margin-left: 93.95833%; }

.main .grid_10 .prefix_9.alpha {
    margin-left: 91.875% !important; }

.main .grid_10 .suffix_9 {
    margin-right: 91.875%; }

.main .grid_10 .grid_8 {
    width: 79.58333%; }

.main .grid_10 .prefix_8 {
    margin-left: 83.75%; }

.main .grid_10 .prefix_8.alpha {
    margin-left: 81.66667% !important; }

.main .grid_10 .suffix_8 {
    margin-right: 81.66667%; }

.main .grid_10 .grid_7 {
    width: 69.375%; }

.main .grid_10 .prefix_7 {
    margin-left: 73.54167%; }

.main .grid_10 .prefix_7.alpha {
    margin-left: 71.45833% !important; }

.main .grid_10 .suffix_7 {
    margin-right: 71.45833%; }

.main .grid_10 .grid_6 {
    width: 59.16667%; }

.main .grid_10 .prefix_6 {
    margin-left: 63.33333%; }

.main .grid_10 .prefix_6.alpha {
    margin-left: 61.25% !important; }

.main .grid_10 .suffix_6 {
    margin-right: 61.25%; }

.main .grid_10 .grid_5 {
    width: 48.95833%; }

.main .grid_10 .prefix_5 {
    margin-left: 53.125%; }

.main .grid_10 .prefix_5.alpha {
    margin-left: 51.04167% !important; }

.main .grid_10 .suffix_5 {
    margin-right: 51.04167%; }

.main .grid_10 .grid_4 {
    width: 38.75%; }

.main .grid_10 .prefix_4 {
    margin-left: 42.91667%; }

.main .grid_10 .prefix_4.alpha {
    margin-left: 40.83333% !important; }

.main .grid_10 .suffix_4 {
    margin-right: 40.83333%; }

.main .grid_10 .grid_3 {
    width: 28.54167%; }

.main .grid_10 .prefix_3 {
    margin-left: 32.70833%; }

.main .grid_10 .prefix_3.alpha {
    margin-left: 30.625% !important; }

.main .grid_10 .suffix_3 {
    margin-right: 30.625%; }

.main .grid_10 .grid_2 {
    width: 18.33333%; }

.main .grid_10 .prefix_2 {
    margin-left: 22.5%; }

.main .grid_10 .prefix_2.alpha {
    margin-left: 20.41667% !important; }

.main .grid_10 .suffix_2 {
    margin-right: 20.41667%; }

.main .grid_10 .grid_1 {
    width: 8.125%; }

.main .grid_10 .prefix_1 {
    margin-left: 12.29167%; }

.main .grid_10 .prefix_1.alpha {
    margin-left: 10.20833% !important; }

.main .grid_10 .suffix_1 {
    margin-right: 10.20833%; }

.main .grid_9 .grid_12 {
    width: 100%; }

.main .grid_9 .grid_11 {
    width: 100%; }

.main .grid_9 .grid_10 {
    width: 100%; }

.main .grid_9 .grid_9 {
    width: 100%; }

.main .grid_9 .prefix_9 {
    margin-left: 104.16667%; }

.main .grid_9 .prefix_9.alpha {
    margin-left: 102.08333% !important; }

.main .grid_9 .suffix_9 {
    margin-right: 102.08333%; }

.main .grid_9 .grid_8 {
    width: 88.65741%; }

.main .grid_9 .prefix_8 {
    margin-left: 92.82407%; }

.main .grid_9 .prefix_8.alpha {
    margin-left: 90.74074% !important; }

.main .grid_9 .suffix_8 {
    margin-right: 90.74074%; }

.main .grid_9 .grid_7 {
    width: 77.31481%; }

.main .grid_9 .prefix_7 {
    margin-left: 81.48148%; }

.main .grid_9 .prefix_7.alpha {
    margin-left: 79.39815% !important; }

.main .grid_9 .suffix_7 {
    margin-right: 79.39815%; }

.main .grid_9 .grid_6 {
    width: 65.97222%; }

.main .grid_9 .prefix_6 {
    margin-left: 70.13889%; }

.main .grid_9 .prefix_6.alpha {
    margin-left: 68.05556% !important; }

.main .grid_9 .suffix_6 {
    margin-right: 68.05556%; }

.main .grid_9 .grid_5 {
    width: 54.62963%; }

.main .grid_9 .prefix_5 {
    margin-left: 58.7963%; }

.main .grid_9 .prefix_5.alpha {
    margin-left: 56.71296% !important; }

.main .grid_9 .suffix_5 {
    margin-right: 56.71296%; }

.main .grid_9 .grid_4 {
    width: 43.28704%; }

.main .grid_9 .prefix_4 {
    margin-left: 47.4537%; }

.main .grid_9 .prefix_4.alpha {
    margin-left: 45.37037% !important; }

.main .grid_9 .suffix_4 {
    margin-right: 45.37037%; }

.main .grid_9 .grid_3 {
    width: 31.94444%; }

.main .grid_9 .prefix_3 {
    margin-left: 36.11111%; }

.main .grid_9 .prefix_3.alpha {
    margin-left: 34.02778% !important; }

.main .grid_9 .suffix_3 {
    margin-right: 34.02778%; }

.main .grid_9 .grid_2 {
    width: 20.60185%; }

.main .grid_9 .prefix_2 {
    margin-left: 24.76852%; }

.main .grid_9 .prefix_2.alpha {
    margin-left: 22.68519% !important; }

.main .grid_9 .suffix_2 {
    margin-right: 22.68519%; }

.main .grid_9 .grid_1 {
    width: 9.25926%; }

.main .grid_9 .prefix_1 {
    margin-left: 13.42593%; }

.main .grid_9 .prefix_1.alpha {
    margin-left: 11.34259% !important; }

.main .grid_9 .suffix_1 {
    margin-right: 11.34259%; }

.main .grid_8 .grid_12 {
    width: 100%; }

.main .grid_8 .grid_11 {
    width: 100%; }

.main .grid_8 .grid_10 {
    width: 100%; }

.main .grid_8 .grid_9 {
    width: 100%; }

.main .grid_8 .grid_8 {
    width: 100%; }

.main .grid_8 .prefix_8 {
    margin-left: 104.16667%; }

.main .grid_8 .prefix_8.alpha {
    margin-left: 102.08333% !important; }

.main .grid_8 .suffix_8 {
    margin-right: 102.08333%; }

.main .grid_8 .grid_7 {
    width: 87.23958%; }

.main .grid_8 .prefix_7 {
    margin-left: 91.40625%; }

.main .grid_8 .prefix_7.alpha {
    margin-left: 89.32292% !important; }

.main .grid_8 .suffix_7 {
    margin-right: 89.32292%; }

.main .grid_8 .grid_6 {
    width: 74.47917%; }

.main .grid_8 .prefix_6 {
    margin-left: 78.64583%; }

.main .grid_8 .prefix_6.alpha {
    margin-left: 76.5625% !important; }

.main .grid_8 .suffix_6 {
    margin-right: 76.5625%; }

.main .grid_8 .grid_5 {
    width: 61.71875%; }

.main .grid_8 .prefix_5 {
    margin-left: 65.88542%; }

.main .grid_8 .prefix_5.alpha {
    margin-left: 63.80208% !important; }

.main .grid_8 .suffix_5 {
    margin-right: 63.80208%; }

.main .grid_8 .grid_4 {
    width: 48.95833%; }

.main .grid_8 .prefix_4 {
    margin-left: 53.125%; }

.main .grid_8 .prefix_4.alpha {
    margin-left: 51.04167% !important; }

.main .grid_8 .suffix_4 {
    margin-right: 51.04167%; }

.main .grid_8 .grid_3 {
    width: 36.19792%; }

.main .grid_8 .prefix_3 {
    margin-left: 40.36458%; }

.main .grid_8 .prefix_3.alpha {
    margin-left: 38.28125% !important; }

.main .grid_8 .suffix_3 {
    margin-right: 38.28125%; }

.main .grid_8 .grid_2 {
    width: 23.4375%; }

.main .grid_8 .prefix_2 {
    margin-left: 27.60417%; }

.main .grid_8 .prefix_2.alpha {
    margin-left: 25.52083% !important; }

.main .grid_8 .suffix_2 {
    margin-right: 25.52083%; }

.main .grid_8 .grid_1 {
    width: 10.67708%; }

.main .grid_8 .prefix_1 {
    margin-left: 14.84375%; }

.main .grid_8 .prefix_1.alpha {
    margin-left: 12.76042% !important; }

.main .grid_8 .suffix_1 {
    margin-right: 12.76042%; }

.main .grid_7 .grid_12 {
    width: 100%; }

.main .grid_7 .grid_11 {
    width: 100%; }

.main .grid_7 .grid_10 {
    width: 100%; }

.main .grid_7 .grid_9 {
    width: 100%; }

.main .grid_7 .grid_8 {
    width: 100%; }

.main .grid_7 .grid_7 {
    width: 100%; }

.main .grid_7 .prefix_7 {
    margin-left: 104.16667%; }

.main .grid_7 .prefix_7.alpha {
    margin-left: 102.08333% !important; }

.main .grid_7 .suffix_7 {
    margin-right: 102.08333%; }

.main .grid_7 .grid_6 {
    width: 85.41667%; }

.main .grid_7 .prefix_6 {
    margin-left: 89.58333%; }

.main .grid_7 .prefix_6.alpha {
    margin-left: 87.5% !important; }

.main .grid_7 .suffix_6 {
    margin-right: 87.5%; }

.main .grid_7 .grid_5 {
    width: 70.83333%; }

.main .grid_7 .prefix_5 {
    margin-left: 75.0%; }

.main .grid_7 .prefix_5.alpha {
    margin-left: 72.91667% !important; }

.main .grid_7 .suffix_5 {
    margin-right: 72.91667%; }

.main .grid_7 .grid_4 {
    width: 56.25%; }

.main .grid_7 .prefix_4 {
    margin-left: 60.41667%; }

.main .grid_7 .prefix_4.alpha {
    margin-left: 58.33333% !important; }

.main .grid_7 .suffix_4 {
    margin-right: 58.33333%; }

.main .grid_7 .grid_3 {
    width: 41.66667%; }

.main .grid_7 .prefix_3 {
    margin-left: 45.83333%; }

.main .grid_7 .prefix_3.alpha {
    margin-left: 43.75% !important; }

.main .grid_7 .suffix_3 {
    margin-right: 43.75%; }

.main .grid_7 .grid_2 {
    width: 27.08333%; }

.main .grid_7 .prefix_2 {
    margin-left: 31.25%; }

.main .grid_7 .prefix_2.alpha {
    margin-left: 29.16667% !important; }

.main .grid_7 .suffix_2 {
    margin-right: 29.16667%; }

.main .grid_7 .grid_1 {
    width: 12.5%; }

.main .grid_7 .prefix_1 {
    margin-left: 16.66667%; }

.main .grid_7 .prefix_1.alpha {
    margin-left: 14.58333% !important; }

.main .grid_7 .suffix_1 {
    margin-right: 14.58333%; }

.main .grid_6 .grid_12 {
    width: 100%; }

.main .grid_6 .grid_11 {
    width: 100%; }

.main .grid_6 .grid_10 {
    width: 100%; }

.main .grid_6 .grid_9 {
    width: 100%; }

.main .grid_6 .grid_8 {
    width: 100%; }

.main .grid_6 .grid_7 {
    width: 100%; }

.main .grid_6 .grid_6 {
    width: 100%; }

.main .grid_6 .prefix_6 {
    margin-left: 104.16667%; }

.main .grid_6 .prefix_6.alpha {
    margin-left: 102.08333% !important; }

.main .grid_6 .suffix_6 {
    margin-right: 102.08333%; }

.main .grid_6 .grid_5 {
    width: 82.98611%; }

.main .grid_6 .prefix_5 {
    margin-left: 87.15278%; }

.main .grid_6 .prefix_5.alpha {
    margin-left: 85.06944% !important; }

.main .grid_6 .suffix_5 {
    margin-right: 85.06944%; }

.main .grid_6 .grid_4 {
    width: 65.97222%; }

.main .grid_6 .prefix_4 {
    margin-left: 70.13889%; }

.main .grid_6 .prefix_4.alpha {
    margin-left: 68.05556% !important; }

.main .grid_6 .suffix_4 {
    margin-right: 68.05556%; }

.main .grid_6 .grid_3 {
    width: 48.95833%; }

.main .grid_6 .prefix_3 {
    margin-left: 53.125%; }

.main .grid_6 .prefix_3.alpha {
    margin-left: 51.04167% !important; }

.main .grid_6 .suffix_3 {
    margin-right: 51.04167%; }

.main .grid_6 .grid_2 {
    width: 31.94444%; }

.main .grid_6 .prefix_2 {
    margin-left: 36.11111%; }

.main .grid_6 .prefix_2.alpha {
    margin-left: 34.02778% !important; }

.main .grid_6 .suffix_2 {
    margin-right: 34.02778%; }

.main .grid_6 .grid_1 {
    width: 14.93056%; }

.main .grid_6 .prefix_1 {
    margin-left: 19.09722%; }

.main .grid_6 .prefix_1.alpha {
    margin-left: 17.01389% !important; }

.main .grid_6 .suffix_1 {
    margin-right: 17.01389%; }

.main .grid_5 .grid_12 {
    width: 100%; }

.main .grid_5 .grid_11 {
    width: 100%; }

.main .grid_5 .grid_10 {
    width: 100%; }

.main .grid_5 .grid_9 {
    width: 100%; }

.main .grid_5 .grid_8 {
    width: 100%; }

.main .grid_5 .grid_7 {
    width: 100%; }

.main .grid_5 .grid_6 {
    width: 100%; }

.main .grid_5 .grid_5 {
    width: 100.0%; }

.main .grid_5 .prefix_5 {
    margin-left: 104.16667%; }

.main .grid_5 .prefix_5.alpha {
    margin-left: 102.08333% !important; }

.main .grid_5 .suffix_5 {
    margin-right: 102.08333%; }

.main .grid_5 .grid_4 {
    width: 79.58333%; }

.main .grid_5 .prefix_4 {
    margin-left: 83.75%; }

.main .grid_5 .prefix_4.alpha {
    margin-left: 81.66667% !important; }

.main .grid_5 .suffix_4 {
    margin-right: 81.66667%; }

.main .grid_5 .grid_3 {
    width: 59.16667%; }

.main .grid_5 .prefix_3 {
    margin-left: 63.33333%; }

.main .grid_5 .prefix_3.alpha {
    margin-left: 61.25% !important; }

.main .grid_5 .suffix_3 {
    margin-right: 61.25%; }

.main .grid_5 .grid_2 {
    width: 38.75%; }

.main .grid_5 .prefix_2 {
    margin-left: 42.91667%; }

.main .grid_5 .prefix_2.alpha {
    margin-left: 40.83333% !important; }

.main .grid_5 .suffix_2 {
    margin-right: 40.83333%; }

.main .grid_5 .grid_1 {
    width: 18.33333%; }

.main .grid_5 .prefix_1 {
    margin-left: 22.5%; }

.main .grid_5 .prefix_1.alpha {
    margin-left: 20.41667% !important; }

.main .grid_5 .suffix_1 {
    margin-right: 20.41667%; }

.main .grid_4 .grid_12 {
    width: 100%; }

.main .grid_4 .grid_11 {
    width: 100%; }

.main .grid_4 .grid_10 {
    width: 100%; }

.main .grid_4 .grid_9 {
    width: 100%; }

.main .grid_4 .grid_8 {
    width: 100%; }

.main .grid_4 .grid_7 {
    width: 100%; }

.main .grid_4 .grid_6 {
    width: 100%; }

.main .grid_4 .grid_5 {
    width: 100%; }

.main .grid_4 .grid_4 {
    width: 100%; }

.main .grid_4 .prefix_4 {
    margin-left: 104.16667%; }

.main .grid_4 .prefix_4.alpha {
    margin-left: 102.08333% !important; }

.main .grid_4 .suffix_4 {
    margin-right: 102.08333%; }

.main .grid_4 .grid_3 {
    width: 74.47917%; }

.main .grid_4 .prefix_3 {
    margin-left: 78.64583%; }

.main .grid_4 .prefix_3.alpha {
    margin-left: 76.5625% !important; }

.main .grid_4 .suffix_3 {
    margin-right: 76.5625%; }

.main .grid_4 .grid_2 {
    width: 48.95833%; }

.main .grid_4 .prefix_2 {
    margin-left: 53.125%; }

.main .grid_4 .prefix_2.alpha {
    margin-left: 51.04167% !important; }

.main .grid_4 .suffix_2 {
    margin-right: 51.04167%; }

.main .grid_4 .grid_1 {
    width: 23.4375%; }

.main .grid_4 .prefix_1 {
    margin-left: 27.60417%; }

.main .grid_4 .prefix_1.alpha {
    margin-left: 25.52083% !important; }

.main .grid_4 .suffix_1 {
    margin-right: 25.52083%; }

.main .grid_3 .grid_12 {
    width: 100%; }

.main .grid_3 .grid_11 {
    width: 100%; }

.main .grid_3 .grid_10 {
    width: 100%; }

.main .grid_3 .grid_9 {
    width: 100%; }

.main .grid_3 .grid_8 {
    width: 100%; }

.main .grid_3 .grid_7 {
    width: 100%; }

.main .grid_3 .grid_6 {
    width: 100%; }

.main .grid_3 .grid_5 {
    width: 100%; }

.main .grid_3 .grid_4 {
    width: 100%; }

.main .grid_3 .grid_3 {
    width: 100.0%; }

.main .grid_3 .prefix_3 {
    margin-left: 104.16667%; }

.main .grid_3 .prefix_3.alpha {
    margin-left: 102.08333% !important; }

.main .grid_3 .suffix_3 {
    margin-right: 102.08333%; }

.main .grid_3 .grid_2 {
    width: 65.97222%; }

.main .grid_3 .prefix_2 {
    margin-left: 70.13889%; }

.main .grid_3 .prefix_2.alpha {
    margin-left: 68.05556% !important; }

.main .grid_3 .suffix_2 {
    margin-right: 68.05556%; }

.main .grid_3 .grid_1 {
    width: 31.94444%; }

.main .grid_3 .prefix_1 {
    margin-left: 36.11111%; }

.main .grid_3 .prefix_1.alpha {
    margin-left: 34.02778% !important; }

.main .grid_3 .suffix_1 {
    margin-right: 34.02778%; }

.main .grid_2 .grid_12 {
    width: 100%; }

.main .grid_2 .grid_11 {
    width: 100%; }

.main .grid_2 .grid_10 {
    width: 100%; }

.main .grid_2 .grid_9 {
    width: 100%; }

.main .grid_2 .grid_8 {
    width: 100%; }

.main .grid_2 .grid_7 {
    width: 100%; }

.main .grid_2 .grid_6 {
    width: 100%; }

.main .grid_2 .grid_5 {
    width: 100%; }

.main .grid_2 .grid_4 {
    width: 100%; }

.main .grid_2 .grid_3 {
    width: 100%; }

.main .grid_2 .grid_2 {
    width: 100%; }

.main .grid_2 .prefix_2 {
    margin-left: 104.16667%; }

.main .grid_2 .prefix_2.alpha {
    margin-left: 102.08333% !important; }

.main .grid_2 .suffix_2 {
    margin-right: 102.08333%; }

.main .grid_2 .grid_1 {
    width: 48.95833%; }

.main .grid_2 .prefix_1 {
    margin-left: 53.125%; }

.main .grid_2 .prefix_1.alpha {
    margin-left: 51.04167% !important; }

.main .grid_2 .suffix_1 {
    margin-right: 51.04167%; }

.main .grid_1 .grid_12 {
    width: 100%; }

.main .grid_1 .grid_11 {
    width: 100%; }

.main .grid_1 .grid_10 {
    width: 100%; }

.main .grid_1 .grid_9 {
    width: 100%; }

.main .grid_1 .grid_8 {
    width: 100%; }

.main .grid_1 .grid_7 {
    width: 100%; }

.main .grid_1 .grid_6 {
    width: 100%; }

.main .grid_1 .grid_5 {
    width: 100%; }

.main .grid_1 .grid_4 {
    width: 100%; }

.main .grid_1 .grid_3 {
    width: 100%; }

.main .grid_1 .grid_2 {
    width: 100%; }

.main .grid_1 .grid_1 {
    width: 100%; }

.main .grid_1 .prefix_1 {
    margin-left: 104.16667%; }

.main .grid_1 .prefix_1.alpha {
    margin-left: 102.08333% !important; }

.main .grid_1 .suffix_1 {
    margin-right: 102.08333%; }

@media (max-width: 767px) {
    [id=wrapper] {
        width: 100%; }

    [id=wrapper] .main {
        width: 98%;
        padding: 0 1%; }

    .main {
        width: 100%; }

    [class*="grid_"],
    .main [class*="grid_"],
    .main [class*="grid_"].alpha,
    .main [class*="grid_"] [class*="grid_"],
    .main [class*="grid_"] [class*="grid_"].alpha {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0 !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }

    .main [class*="grid_"]:first-child {
        margin-left: 0; } }
@media (min-width: 768px) and (max-width: 980px) {
    [class*="grid_"] {
        float: left;
        min-height: 1px;
        margin-left: 20px; }

    [id=wrapper] {
        width: 100%;
        margin: 0; }
    [id=wrapper] .main {
        width: 98%;
        padding: 0 1%; } }

.component {
  clear: left; }

.component[class*="grid"] {
  clear: none; }

.component[class*="grid"].alpha {
  clear: left; }