

<div class="container">


    <div class="diagnosis">

        
        
        <div class="diagnosis__filters top">
            <div class="row">
                <div class="col-md-3">
                    <div class="select">
                        <p class="label label-region">Region</p>
                        <ul style="display: none">
                            <li><input type="checkbox" data-name="region_1"  id="region_1" name="European"><label for="region_1">European</label></li>
                            <li><input type="checkbox" data-name="region_2" id="region_2" name="Non-European"><label for="region_2">Non-European</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="select">
                        <p class="label label-age">Age</p>
                        <ul style="display: none">
                            <li><input type="checkbox" data-name="age_1" id="input_age_1" name="18-34"><label for="age_1">18-34</label></li>
                            <li><input type="checkbox" data-name="age_2" id="age_2" name="35-49"><label for="age_2">35-49</label></li>
                            <li><input type="checkbox" data-name="age_3" id="age_3" name="50+"><label for="age_3">50+</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="select">
                        <p class="label label-gender">Gender</p>
                        <ul style="display: none">
                            <li><input type="checkbox" data-name="gender_1" id="gender_1" name="Male"><label for="gender_1">Male</label></li>
                            <li><input type="checkbox" data-name="gender_2" id="gender_2" name="Female"><label for="gender_2">Female</label></li>
                            <li><input type="checkbox" data-name="gender_3" id="gender_3" name="Transgender"><label for="gender_3">Transgender</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="select">
                        <p class="label label-sexual">Sexual Orientation <span>+</span></p>
                        <ul style="display: none">
                            <li><input type="checkbox"  data-name="sexual_1" id="sexual_1" name="Heterosexual"><label for="sexual_1">Heterosexual</label></li>
                            <li><input type="checkbox"  data-name="sexual_2" id="sexual_2" name="Homosexual"><label for="sexual_2">Homosexual</label></li>
                            <li><input type="checkbox"  data-name="sexual_3" id="sexual_3" name="Bisexual"><label for="sexual_3">Bisexual</label></li>
                            <li><input type="checkbox"  data-name="sexual_4" id="sexual_4" name="Other"><label for="sexual_4">Other</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="applied_filters">
                <h2>Applied filters</h2>

                <span class="region_1" style="display: none;">European<span>x</span></span>
                <span class="region_2" style="display: none;">Non-European<span>x</span></span>
                <span class="age_1" style="display: none;">18-34<span>x</span></span>
                <span class="age_2" style="display: none;">35-49<span>x</span></span>
                <span class="age_3" style="display: none;">50+<span>x</span></span>
                <span class="gender_1" style="display: none;">Male<span>x</span></span>
                <span class="gender_2" style="display: none;">Female<span>x</span></span>
                <span class="gender_3" style="display: none;">Transgender<span>x</span></span>
                <span class="sexual_1" style="display: none;">Heterosexual<span>x</span></span>
                <span class="sexual_2" style="display: none;">Homosexual<span>x</span></span>
                <span class="sexual_3" style="display: none;">Bisexual<span>x</span></span>
                <span class="sexual_4" style="display: none;">Other<span>x</span></span>
                <span class="applied_filters_clear" style="display: none;">Clear all</span>
            </div>
        </div>
        
        <div class="diagnosis__charts">



            <div class="row box-charts">
                <div class="col-md-6">
                    <div class="inside region">
                        <div class="chart_head">
                            <h3>Region</h3>
                        </div>
                        <div class="row icon icon_region">
                            <div class="chart-box chart-box__1 region_1 col-md-6">
                                <label class="chart-box__label">European</label>
                                <div class="chart">
                                    <div  class="chart  region_1 chart_color_1 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-box chart-box__2 region_2 col-md-6">
                                <label class="chart-box__label">Non-European</label>
                                <div class="chart">
                                    <div  class="chart region_2 chart_color_2 chart-title-center" data-percent="0">
                                         <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inside age">
                        <div class="chart_head">
                            <h3>Age</h3>
                        </div>
                        <div class="row">
                            <div class="chart-box chart-box__1 age_1 col-md-4">
                                <label class="chart-box__label">18-34</label>
                                <div class="chart">
                                    <div  class="chart age_1 chart_color_1 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-box chart-box__2 age_2 col-md-4">
                                <label class="chart-box__label">35-49</label>
                                <div class="chart">
                                    <div class="chart age_2 chart_color_2 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-box chart-box__3 age_3 col-md-4">
                                <label class="chart-box__label">50+</label>
                                <div class="chart">
                                    <div class="chart age_3 chart_color_3 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inside gender">
                        <div class="chart_head">
                            <h3>Gender</h3>
                        </div>
                        <div class="row">
                            <div class="chart-box chart-box__1 gender_1 col-md-4">
                                <label class="chart-box__label">Male</label>
                                <div class="chart">
                                    <div class="chart gender_1 chart_color_1 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                             </div>
                            <div class="chart-box chart-box__2 gender_2 col-md-4">
                                <label class="chart-box__label">Female</label>
                                <div class="chart">
                                    <div class="chart gender_2 chart_color_2 chart-title-center" data-percent="-0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-box chart-box__3 gender_3 col-md-4">
                                <label class="chart-box__label">Transgender</label>
                                <div class="chart">
                                    <div class="chart gender_3 chart_color_3 chart-title-center" data-percent="0">
                                        <span class="chart-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inside sexual">
                        <div class="chart_head">
                            <h3>Sexual Orientaction</h3>
                        </div>
                        <div class="row">
                            <div class="chart-box chart-box__1">
                                <label class="chart-box__label">Heterosexual</label>
                                <div class="chart-bar sexual_1 chart_color_1"><span class="chart-value"></span></div>
                                <p class="percent">0%</p>
                            </div>
                            <div class="chart-box chart-box__2">
                                <label class="chart-box__label">Homosexual</label>
                                <div class="chart-bar sexual_2 chart_color_2"><span class="chart-value"></span></div>
                                <p class="percent">0%</p>
                            </div>
                            <div class="chart-box chart-box__3 ">
                                <label class="chart-box__label">Bisexual</label>
                                <div class="chart-bar sexual_3 chart_color_3"><span class="chart-value"></span></div>
                                <p class="percent">0%</p>
                            </div>
                            <div class="chart-box chart-box__4">
                                <label class="chart-box__label">Other</label>
                                <div class="chart-bar sexual_4 chart_color_4"><span class="chart-value"></span></div>
                                <p class="percent">0%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>