/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* STATES AND INPUT GROUP VARIABLES
    ------------------------------------*/
/*   TEMPORARY VARIABLES FOR OPERATIONS
    ------------------------------------*/
/*   CREATING SCSS USABLE VARIABLES FOR INTERPOLATION
    ------------------------------------*/
/*   FUNCTIONAL VARIABLES FOR INPUTS AND STATES
    ------------------------------------*/
/* COLOR AND FONT VARIABLES
TODO: SEPARATE COLOR ON FUNCTIONS
    ------------------------------------*/
/* MAIN STYLE FOR FORM
    ------------------------------------*/
/* line 95, ../../sass/components/form/_form-base.scss */
.form {
  /* TWITTER BOOTSTRAP FORM STYLE
  ------------------------------------*/
  /* STATES STYLES
      ------------------------------------*/
  /* ARROW BUTTON STYLES
     -----------------------------------*/
}
/* line 97, ../../sass/components/form/_form-base.scss */
.form .form-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 104, ../../sass/components/form/_form-base.scss */
.form form {
  margin: 0 0 20px;
}
/* line 108, ../../sass/components/form/_form-base.scss */
.form fieldset {
  background-color: #e1e1e1;
  border: solid 2px #323131;
  padding: 13px;
  margin: 15px 0;
  min-width: 0;
}
/* line 116, ../../sass/components/form/_form-base.scss */
.form legend {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  padding: 0 5px;
}
/* line 123, ../../sass/components/form/_form-base.scss */
.form fieldset legend {
  display: table;
  white-space: normal;
  margin-right: 10px;
}
/* line 129, ../../sass/components/form/_form-base.scss */
.form label,
.form input,
.form button,
.form select,
.form textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  max-width: 100%;
}
/* line 140, ../../sass/components/form/_form-base.scss */
.form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  min-width: 200px;
}
/* line 146, ../../sass/components/form/_form-base.scss */
.form input,
.form button,
.form select,
.form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 153, ../../sass/components/form/_form-base.scss */
.form label {
  display: block;
  margin-bottom: 5px;
}
/* line 158, ../../sass/components/form/_form-base.scss */
.form select,
.form textarea,
.form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
.form .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 173, ../../sass/components/form/_form-base.scss */
.form input,
.form textarea,
.form .uneditable-input {
  width: 206px;
}
/* line 179, ../../sass/components/form/_form-base.scss */
.form fieldset textarea {
  resize: vertical;
  width: 100%;
}
/* line 184, ../../sass/components/form/_form-base.scss */
.form textarea {
  height: auto;
}
/* line 188, ../../sass/components/form/_form-base.scss */
.form select,
.form textarea,
.form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
.form .uneditable-input {
  background-color: white;
  border: 1px solid #CCCCCC;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
}
/* line 198, ../../sass/components/form/_form-base.scss */
.form select:focus,
.form textarea:focus,
.form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="password"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="text"]:focus, .form input[type="url"]:focus, .form input[type="color"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="datetime-local"]:focus, .form input[type="month"]:focus, .form input[type="time"]:focus, .form input[type="week"]:focus,
.form .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 207, ../../sass/components/form/_form-base.scss */
.form input + .help-block,
.form select + .help-block,
.form textarea + .help-block,
.form .uneditable-input + .help-block {
  margin-top: 10px;
}
/* line 214, ../../sass/components/form/_form-base.scss */
.form input,
.form textarea,
.form select,
.form .help-inline,
.form .uneditable-input {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}
/* line 226, ../../sass/components/form/_form-base.scss */
.form input[type="radio"],
.form input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px                  \9;
  *margin-top: 0;
  line-height: normal;
}
/* line 234, ../../sass/components/form/_form-base.scss */
.form input[type="file"],
.form input[type="image"],
.form input[type="submit"],
.form input[type="reset"],
.form input[type="button"],
.form input[type="radio"],
.form input[type="checkbox"] {
  width: auto;
}
/* line 244, ../../sass/components/form/_form-base.scss */
.form select,
.form input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}
/* line 253, ../../sass/components/form/_form-base.scss */
.form select {
  width: 220px;
  background-color: white;
  border: 1px solid #CCCCCC;
}
/* line 259, ../../sass/components/form/_form-base.scss */
.form select[multiple],
.form select[size] {
  height: auto;
}
/* line 264, ../../sass/components/form/_form-base.scss */
.form .uneditable-input,
.form .uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #CCCCCC;
  -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
}
/* line 273, ../../sass/components/form/_form-base.scss */
.form .uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
/* line 278, ../../sass/components/form/_form-base.scss */
.form .uneditable-textarea {
  width: auto;
  height: auto;
}
/* line 283, ../../sass/components/form/_form-base.scss */
.form input:-moz-placeholder,
.form textarea:-moz-placeholder,
.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder,
.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #999999;
}
/* line 292, ../../sass/components/form/_form-base.scss */
.form .form-actions {
  padding-left: 180px;
}
/* line 296, ../../sass/components/form/_form-base.scss */
.form .hide {
  display: none;
}
/* line 300, ../../sass/components/form/_form-base.scss */
.form .radio,
.form .checkbox {
  min-height: 20px;
  padding-left: 20px;
}
/* line 306, ../../sass/components/form/_form-base.scss */
.form .radio input[type="radio"],
.form .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -22px;
}
/* line 312, ../../sass/components/form/_form-base.scss */
.form .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
/* line 318, ../../sass/components/form/_form-base.scss */
.form .controls:first-child {
  *padding-left: 180px;
}
/* line 323, ../../sass/components/form/_form-base.scss */
.form .controls > .radio:first-child,
.form .controls > .checkbox:first-child {
  padding-top: 5px;
}
/* line 328, ../../sass/components/form/_form-base.scss */
.form .radio.inline,
.form .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
/* line 336, ../../sass/components/form/_form-base.scss */
.form .radio.inline + .radio.inline,
.form .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
/* line 341, ../../sass/components/form/_form-base.scss */
.form input,
.form textarea,
.form .uneditable-input {
  margin-left: 0;
}
/* line 347, ../../sass/components/form/_form-base.scss */
.form .controls-row {
  *zoom: 1;
}
/* line 349, ../../sass/components/form/_form-base.scss */
.form .controls-row:before, .form .controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 355, ../../sass/components/form/_form-base.scss */
.form .controls-row:after {
  clear: both;
}
/* line 360, ../../sass/components/form/_form-base.scss */
.form input[disabled],
.form select[disabled],
.form textarea[disabled],
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
/* line 370, ../../sass/components/form/_form-base.scss */
.form input[type="radio"][disabled],
.form input[type="checkbox"][disabled],
.form input[type="radio"][readonly],
.form input[type="checkbox"][readonly] {
  background-color: transparent;
}
/* line 380, ../../sass/components/form/_form-base.scss */
.form .control-label {
  word-break: break-all;
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
  line-height: normal;
}
/* line 391, ../../sass/components/form/_form-base.scss */
.form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea, .form .control-group.warning .control-label, .form .control-group.warning .help-block, .form .control-group.warning .help-inline, .form .control-group.warning .checkbox, .form .control-group.warning .radio {
  color: #c09853;
}
/* line 395, ../../sass/components/form/_form-base.scss */
.form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea {
  border-color: #c09853;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 400, ../../sass/components/form/_form-base.scss */
.form .control-group.warning input:focus, .form .control-group.warning select:focus, .form .control-group.warning textarea:focus {
  border-color: #a47e3c;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
/* line 409, ../../sass/components/form/_form-base.scss */
.form .control-group.error input, .form .control-group.error select, .form .control-group.error textarea, .form .control-group.error .control-label, .form .control-group.error .help-block, .form .control-group.error .help-inline, .form .control-group.error .checkbox, .form .control-group.error .radio {
  color: #b94a48;
}
/* line 413, ../../sass/components/form/_form-base.scss */
.form .control-group.error input, .form .control-group.error select, .form .control-group.error textarea {
  border-color: #b94a48;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 418, ../../sass/components/form/_form-base.scss */
.form .control-group.error input:focus, .form .control-group.error select:focus, .form .control-group.error textarea:focus {
  border-color: #953b39;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/* line 427, ../../sass/components/form/_form-base.scss */
.form .control-group.success input, .form .control-group.success select, .form .control-group.success textarea, .form .control-group.success .control-label, .form .control-group.success .help-block, .form .control-group.success .help-inline, .form .control-group.success .checkbox, .form .control-group.success .radio {
  color: #468847;
}
/* line 431, ../../sass/components/form/_form-base.scss */
.form .control-group.success input, .form .control-group.success select, .form .control-group.success textarea {
  border-color: #468847;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 436, ../../sass/components/form/_form-base.scss */
.form .control-group.success input:focus, .form .control-group.success select:focus, .form .control-group.success textarea:focus {
  border-color: #356635;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
/* line 445, ../../sass/components/form/_form-base.scss */
.form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea, .form .control-group.info .control-label, .form .control-group.info .help-block, .form .control-group.info .help-inline, .form .control-group.info .checkbox, .form .control-group.info .radio {
  color: #3a87ad;
}
/* line 449, ../../sass/components/form/_form-base.scss */
.form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea {
  border-color: #3a87ad;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 454, ../../sass/components/form/_form-base.scss */
.form .control-group.info input:focus, .form .control-group.info select:focus, .form .control-group.info textarea:focus {
  border-color: #2d6987;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
/* line 466, ../../sass/components/form/_form-base.scss */
.form .control-group.warning input[type="radio"],
.form .control-group.error input[type="radio"],
.form .control-group.success input[type="radio"],
.form .control-group.info input[type="radio"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 472, ../../sass/components/form/_form-base.scss */
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
/* line 479, ../../sass/components/form/_form-base.scss */
.form input:focus:invalid:focus,
.form textarea:focus:invalid:focus,
.form select:focus:invalid:focus {
  border-color: #e9322d;
  -moz-box-shadow: 0 0 6px #d59392;
  -webkit-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
/* line 486, ../../sass/components/form/_form-base.scss */
.form .help-block,
.form .help-inline {
  color: #595959;
}
/* line 491, ../../sass/components/form/_form-base.scss */
.form .help-block {
  display: block;
  margin-bottom: 0;
}
/* line 496, ../../sass/components/form/_form-base.scss */
.form .help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}
/* line 504, ../../sass/components/form/_form-base.scss */
.form .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 508, ../../sass/components/form/_form-base.scss */
.form .control-group:before, .form .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 514, ../../sass/components/form/_form-base.scss */
.form .control-group:after {
  clear: both;
}
/* line 520, ../../sass/components/form/_form-base.scss */
.form legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
/* line 525, ../../sass/components/form/_form-base.scss */
.form .radio input[type="radio"] {
  width: 20px;
  float: none;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 533, ../../sass/components/form/_form-base.scss */
.form .radio .radio-label-text {
  line-height: 13px;
  vertical-align: baseline;
}
/* line 541, ../../sass/components/form/_form-base.scss */
.form .button-arrow-left button,
.form .button-arrow-right button {
  position: relative;
  box-shadow: none;
  height: 28px;
  overflow: visible;
}
/* line 549, ../../sass/components/form/_form-base.scss */
.form .button-arrow-left button {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 20px;
}
/* line 556, ../../sass/components/form/_form-base.scss */
.form .button-arrow-right button {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 20px;
}
/* line 563, ../../sass/components/form/_form-base.scss */
.form .button-arrow-left button:after,
.form .button-arrow-right button:after {
  content: ' ';
  width: 19px;
  height: 19px;
  display: inline-block;
  position: absolute;
  top: 3px;
  background-color: #e1e1e1;
  border: 2px solid #656363;
  box-shadow: none;
}
/* line 576, ../../sass/components/form/_form-base.scss */
.form .button-arrow-left button:after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  left: -10px;
  border-width: 0px 1px 1px 0px;
  border-bottom-right-radius: 5px;
}
/* line 587, ../../sass/components/form/_form-base.scss */
.form .button-arrow-right button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -10px;
  border-width: 1px 1px 0px 0px;
  border-top-right-radius: 5px;
}
/* line 598, ../../sass/components/form/_form-base.scss */
.form .button-arrow-left button:hover:after,
.form .button-arrow-right button:hover:after {
  background-color: #939191;
}

/* line 606, ../../sass/components/form/_form-base.scss */
.form > .component-content,
.form-element > .component-content {
  overflow: hidden;
}

/* FORM HORIZONTAL STYLES
   ------------------------------------*/
/* line 616, ../../sass/components/form/_form-base.scss */
.form-horizontal .radio {
  display: inline-block;
  margin-right: 10px;
}

/* IE STYLES
    ------------------------------------*/
/* line 630, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form fieldset {
  position: relative;
  margin: 10px;
}
/* line 635, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form fieldset legend {
  position: relative;
  top: -0.7em;
  left: 0.5em;
  margin-right: 20px;
}
/* line 642, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form fieldset legend span {
  display: block;
  width: 100%;
}
/* line 647, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form .input-focus-border-fix {
  border-color: #52A8EC;
}
/* line 651, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form .button {
  border: 1px solid #656363;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}
/* line 658, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form .button-arrow-left button:after,
.lt-ie9 .form .button-arrow-right button:after {
  position: static;
  border: none;
  display: inline;
}
/* line 665, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form .button-arrow-left button:before {
  content: "<<";
  padding-right: 5px;
}
/* line 670, ../../sass/components/form/_form-base.scss */
.lt-ie9 .form .button-arrow-right button:after {
  content: ">>";
  padding-left: 5px;
}

/* line 682, ../../sass/components/form/_form-base.scss */
.lt-ie8 .form fieldset legend {
  top: -0.5em;
}
/* line 686, ../../sass/components/form/_form-base.scss */
.lt-ie8 .form .button {
  display: inline;
}
/* line 690, ../../sass/components/form/_form-base.scss */
.lt-ie8 .form .button-arrow-left button,
.lt-ie8 .form .button-arrow-right button {
  position: static;
}

/* MEDIA QUERIES
    ------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 705, ../../sass/components/form/_form-base.scss */
  .form .radio input[type="radio"] {
    height: 14px;
  }
  /* line 709, ../../sass/components/form/_form-base.scss */
  .form .control-group {
    margin-bottom: 10px;
  }
  /* line 713, ../../sass/components/form/_form-base.scss */
  .form .checkboxField .control-label {
    float: left;
  }
  /* line 717, ../../sass/components/form/_form-base.scss */
  .form .control-label {
    float: none;
    width: 160px;
    padding-top: 5px;
    text-align: left;
  }
  /* line 724, ../../sass/components/form/_form-base.scss */
  .form .controls {
    margin-left: 0;
  }
  /* line 728, ../../sass/components/form/_form-base.scss */
  .form .help-block {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 239px) {
  /* line 739, ../../sass/components/form/_form-base.scss */
  .form input,
  .form textarea,
  .form .uneditable-input {
    width: 200px;
  }
  /* line 745, ../../sass/components/form/_form-base.scss */
  .form select {
    width: 200px;
  }
}
/* NO JS STYLES
    ------------------------------------*/
/* line 758, ../../sass/components/form/_form-base.scss */
.no-js .clearButton {
  display: none;
}
