/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/image/_image-base.scss */
.image .right {
  text-align: right;
}

/* line 7, ../../sass/components/image/_image-base.scss */
.image .left {
  text-align: left;
}

/* line 11, ../../sass/components/image/_image-base.scss */
.image .middle {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  /* line 16, ../../sass/components/image/_image-base.scss */
  .image .component-content {
    text-align: center;
  }
}
