/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/map/_map-base.scss */
.map-canvas {
  border: solid 2px #323131;
  margin-bottom: 10px;
  text-align: center;
}

/* line 9, ../../sass/components/map/_map-base.scss */
.map-canvas img {
  width: 100%;
  max-width: inherit;
}

/* line 14, ../../sass/components/map/_map-base.scss */
.no-js .map-canvas img {
  width: 100%;
  max-width: 640px;
}
