/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/*** SETTINGS ***/
/* line 25, ../../sass/components/navigation/_navigation-base.scss */
.navigation-root {
  text-align: left;
  z-index: 10;
  max-width: 100%;
}

/* line 31, ../../sass/components/navigation/_navigation-base.scss */
.navigation-mobile-menu {
  display: none;
}

/* line 38, ../../sass/components/navigation/_navigation-base.scss */
.no-js .navigation-level1 > .navigation-branch {
  display: block;
}
/* line 44, ../../sass/components/navigation/_navigation-base.scss */
.no-js .navigation-root.navigation-branch.navigation-level1 {
  display: block;
}
/* line 52, ../../sass/components/navigation/_navigation-base.scss */
.no-js .navigation-vertical .navigation-item .navigation-branch.navigation-level2 {
  display: block;
}
/* line 59, ../../sass/components/navigation/_navigation-base.scss */
.no-js .navigation-horizontal .navigation-item .navigation-branch.navigation-level2 {
  display: block;
  margin: 0 0 -2px 0;
  border-left: none;
  border-right: none;
  position: static;
}
/* line 65, ../../sass/components/navigation/_navigation-base.scss */
.no-js .navigation-horizontal .navigation-item .navigation-branch.navigation-level2 > .navigation-item {
  float: none;
}

/* line 73, ../../sass/components/navigation/_navigation-base.scss */
.navigation-branch {
  overflow: visible;
  margin: 0;
  padding: 0;
  list-style: none;
  border-color: #4a4a4a;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 82, ../../sass/components/navigation/_navigation-base.scss */
.navigation-branch.navigation-level1 {
  border: none;
  display: block;
}

/* line 88, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item {
  margin: 0 0 0 0;
  /* so that borders collapse */
  border-color: #4a4a4a;
  border-width: 0 0 0 0;
  border-style: solid;
}
/* line 93, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item > .navigation-item-title {
  display: block;
  padding: 5px 15px 5px 15px;
  background: #e1e1e1;
  color: black;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 105, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item > a.navigation-item-title:hover {
  color: black;
  background: #d5d5d5;
  text-decoration: none;
}
/* line 111, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item > span.navigation-item-title {
  cursor: default;
}
/* line 116, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.has-children > .navigation-item-title .navigation-item-decoration {
  background-color: #c8c8c8;
}
/* line 123, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.has-active-child > .navigation-item-title, .navigation-item.is-active > .navigation-item-title {
  color: black;
  background: #a2a2a2;
  text-decoration: none;
}
/* line 131, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.is-open > .navigation-branch, .no-js .navigation-item:hover > .navigation-branch {
  display: block;
}
/* line 135, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.navigation-level1 {
  margin: 0 0 -2px -2px;
  /* so that borders collapse */
  border-color: #4a4a4a;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  box-sizing: border-box;
}
/* line 141, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.navigation-level1 > .navigation-item-title {
  color: black;
  background: #e1e1e1;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 20px 10px 20px;
}
/* line 151, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.navigation-level1 > a.navigation-item-title:hover {
  color: black;
  background: #939191;
  text-decoration: none;
}
/* line 159, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.navigation-level1.has-active-child > .navigation-item-title, .navigation-item.navigation-level1.is-active > .navigation-item-title {
  color: #FFF;
  background: #605e5e;
  text-decoration: none;
}
/* line 166, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item.navigation-level2 {
  border-top: 1px solid #4a4a4a;
}

/* line 172, ../../sass/components/navigation/_navigation-base.scss */
.navigation-branch.navigation-level2 {
  display: block;
}

/* line 176, ../../sass/components/navigation/_navigation-base.scss */
.navigation-item > .navigation-item-title {
  padding-left: 40px;
}

/* line 184, ../../sass/components/navigation/_navigation-base.scss */
.mod-touch .navigation-horizontal .navigation-item .is-open.navigation-branch.navigation-level2 {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
/* line 191, ../../sass/components/navigation/_navigation-base.scss */
.mod-touch .navigation-horizontal .navigation-item.is-open .navigation-branch.navigation-level2 {
  overflow: hidden;
}
/* line 196, ../../sass/components/navigation/_navigation-base.scss */
.mod-touch .navigation-horizontal .navigation-item.navigation-level2:first-child {
  border-top: none;
}
/* line 201, ../../sass/components/navigation/_navigation-base.scss */
.mod-touch .navigation-horizontal .navigation-item .navigation-level2 .navigation-item {
  width: 100%;
}

/* line 212, ../../sass/components/navigation/_navigation-base.scss */
.mod-no-touch .navigation-horizontal .navigation-item:hover .navigation-branch.navigation-level2 {
  min-width: 100%;
  position: absolute;
  top: 41px;
  left: -2px;
  display: block;
}
/* line 218, ../../sass/components/navigation/_navigation-base.scss */
.mod-no-touch .navigation-horizontal .navigation-item:hover .navigation-branch.navigation-level2 .navigation-item {
  float: none;
}

/* line 227, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-item {
  float: left;
  position: relative;
}
/* line 230, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-item .navigation-branch.navigation-level2,
.navigation-horizontal .navigation-item .navigation-branch.navigation-level3 {
  display: none;
}
/* line 235, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-item.is-open > .navigation-branch.navigation-level2,
.navigation-horizontal .navigation-item.is-open > .navigation-branch.navigation-level3 {
  display: block;
  float: none;
}
/* line 242, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-item.navigation-level2:first-child {
  border-top: none;
}
/* line 247, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children > .navigation-item-title {
  padding-right: 61px;
  background-image: none;
}
/* line 250, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children > .navigation-item-title .navigation-item-decoration {
  height: 41px;
  width: 41px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 41px;
}
/* line 258, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children > .navigation-item-title .navigation-item-decoration:after {
  content: "\f078";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 269, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children > .navigation-item-title:hover .navigation-item-decoration {
  background-color: #939191;
}
/* line 273, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children.navigation-level2 > .navigation-item-title {
  padding-right: 55px;
}
/* line 275, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children.navigation-level2 > .navigation-item-title .navigation-item-decoration {
  height: 31px;
  width: 31px;
  line-height: 31px;
}
/* line 279, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-children.navigation-level2 > .navigation-item-title .navigation-item-decoration:after {
  width: 31px;
  height: 31px;
}
/* line 286, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .has-active-child > .navigation-item-title .navigation-item-decoration {
  background-color: #605e5e;
}
/* line 291, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-level2.navigation-branch {
  border-color: #4a4a4a;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
}
/* line 296, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-level2 .navigation-item-title {
  padding: 5px 15px 5px 15px;
}
/* line 300, ../../sass/components/navigation/_navigation-base.scss */
.navigation-horizontal .navigation-level2.navigation-root {
  max-width: none;
}

/* line 307, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .navigation-branch.navigation-level2,
.navigation-vertical .navigation-branch.navigation-level3 {
  display: none;
}
/* line 312, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .navigation-item.is-open > .navigation-branch.navigation-level2,
.navigation-vertical .navigation-item.is-open > .navigation-branch.navigation-level3 {
  display: block;
}
/* line 317, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-children > .navigation-item-title {
  position: relative;
}
/* line 319, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-children > .navigation-item-title .navigation-item-decoration {
  height: 41px;
  width: 41px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 41px;
}
/* line 327, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-children > .navigation-item-title .navigation-item-decoration:before {
  content: "\f078";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 340, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-children.navigation-level2 > .navigation-item-title .navigation-item-decoration {
  height: 31px;
  width: 31px;
  line-height: 31px;
}
/* line 344, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-children.navigation-level2 > .navigation-item-title .navigation-item-decoration:before {
  width: 31px;
  height: 31px;
}
/* line 351, ../../sass/components/navigation/_navigation-base.scss */
.navigation-vertical .has-active-child > .navigation-item-title .navigation-item-decoration {
  background-color: #c8c8c8;
}

@media only screen and (min-width: 990px) {
  /* line 362, ../../sass/components/navigation/_navigation-base.scss */
  .mod-touch .navigation-horizontal .navigation-item.is-open .navigation-branch.navigation-level2 {
    margin: 0 0 -2px -2px;
    position: absolute;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  /* line 376, ../../sass/components/navigation/_navigation-base.scss */
  .mod-touch .navigation-horizontal .navigation-item {
    width: 100%;
  }
  /* line 379, ../../sass/components/navigation/_navigation-base.scss */
  .mod-touch .navigation-horizontal .navigation-item.is-open .navigation-branch.navigation-level2 {
    margin: 0 0 -2px 0;
    border-left: none;
    border-right: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 395, ../../sass/components/navigation/_navigation-base.scss */
  .mod-touch .navigation-horizontal .navigation-item {
    width: 100%;
  }
  /* line 398, ../../sass/components/navigation/_navigation-base.scss */
  .mod-touch .navigation-horizontal .navigation-item.is-open .navigation-branch.navigation-level2 {
    margin: 0 0 -2px 0;
    border-left: none;
    border-right: none;
    position: static;
  }

  /* line 409, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-mobile-menu {
    display: block;
    width: 100%;
    height: 41px;
    position: relative;
    cursor: pointer;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #4a4a4a;
    box-sizing: border-box;
    margin: 0 0 -2px -2px;
    overflow: hidden;
    background: whitesmoke;
  }
  /* line 422, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-mobile-menu:after {
    content: "\f0c9";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    position: relative;
    font-weight: normal;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    line-height: 38px;
    font-size: 25px;
    right: 0;
  }

  /* line 434, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-item.navigation-level1 {
    width: 100%;
  }

  /* line 437, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-branch.navigation-level1 {
    display: none;
  }
  /* line 439, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-branch.navigation-level1.is-open {
    display: block;
  }

  /* line 445, ../../sass/components/navigation/_navigation-base.scss */
  .navigation-horizontal .navigation-item:hover .navigation-branch.navigation-level2, .navigation-vertical .navigation-item:hover .navigation-branch.navigation-level2 {
    left: 0;
    border-left: none;
    border-right: none;
  }
}
