/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/video/_video-base.scss */
.video-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 7, ../../sass/components/video/_video-base.scss */
.video-nojs {
  display: none;
  text-align: center;
  padding: 20px 0;
  color: red;
}

/* line 14, ../../sass/components/video/_video-base.scss */
.no-js .video-nojs {
  display: block;
}

/* line 18, ../../sass/components/video/_video-base.scss */
.video object,
.video embed {
  width: 100% !important;
}

/* line 23, ../../sass/components/video/_video-base.scss */
.video-video {
  border: solid 2px #323131;
}

/* line 27, ../../sass/components/video/_video-base.scss */
.video-video-container {
  margin: 0 auto;
}

/* line 31, ../../sass/components/video/_video-base.scss */
.video-description {
  border: solid 2px #323131;
  padding: 13px;
  margin-top: -2px;
}
