@import '../../core/mixins';

.shareThis-list {
    overflow: hidden;
    margin: 0;
    padding-top: 7px;
    padding-left: 0;
    list-style: none;
}

.shareThis-list li {
    float: left;
    width: auto;
    height: 26px;
    margin: 0 10px 10px 0;
}

.shareThis-list li:last-child {
    margin-right: 0;
}

.shareThis-item a {
    display: block;
    height: 26px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}



