@import '../../core/mixins';

.fileList-heading {
    @include heading();
}

.fileList-date {
    margin-bottom: 10px;
    color: $metaTextColor;
}

.fileList-file {
    margin-bottom: 20px;
    overflow: hidden;
}

.fileList-description {
    overflow: hidden;
}

.fileList-title {
    @include heading();
}

.fileList-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fileList-thumbnail {
    max-width: 100px;
    float: left;
    margin-right: 15px;
}

.fileList-download {
    text-align: right;
}

.fileList-download-size {
    color: $metaTextColor;
    display: block;
}

@include respond-to(mobile) {
    .fileList-thumbnail {
        float: none;
        margin: auto;
        display: block;
    }
}
