@import '../../core/mixins';

.divider {
    background: $color-accent-1;
    height: 2px;
    background-size: 25% 100%;
    margin: 2% 0;
    &.color-1 {
             background: $color-accent-1;
         }
    &.color-2
    {
        background: $color-accent-2;
    }
    &.color-3 {
        background: $color-accent-3;
    }
    &.color-4 {
        background: $color-accent-4;
    }
    &.color-5 {
        background: $color-accent-5;
    }
}

.divider.float-breaker {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
}