

.page-diagnosis {

  .secondary-bg {
    background: #eee;
    h2 {
      color: $text-default;
      margin: 0;
      padding: 0 20px 0 60px;
      span {
        background: $color-accent-2;
        color: #fff;
        font-weight: normal;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        margin-right: 10px;
        float: left;
        margin-left: -50px;
      }
    }
    &.charts-start {
      position: relative;
      padding: 0 10px;
      overflow: hidden;

      h2 {
        padding: 0 10px 0 60px;
        @include respond-to(mobile) {
          font-size: 1.2em;
          font-weight: normal;
        }
      }


      figure {
        position: relative;
        text-align: center;
        width: 100%;
        line-height: 0;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 auto;

        img {
          filter: grayscale(100%);

          @include respond-to(mobile) {
            left: 0;
            position: absolute;
            width: initial;
            max-height: 80px;
            z-index: 9;
            top: 0%;
            border-radius: 0 50% 50% 0;
          }


        }
        figcaption{
          p {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            color: #fff;
          }
          overflow: hidden;
          position: absolute;
          background: $color-accent-2;
          color: #fff;
          font-weight: bold;
          border-radius: 50%;
          vertical-align: middle;
          width: 180px;
          height: 180px;
          padding: 0 20px;
          line-height: 180px;
          top: 50%;
          left: 50%;
          margin-left: -90px;
          margin-top: -90px;
          transition: 0.3s;
          @include respond-to(mobile) {
            position: relative;
            width: 100%;
            height: 80px;
            margin: 0;
            padding: 10px 10px 10px 35%;
            line-height: 1.2em;
            top: 0;
            left: 0;
            border-radius: 0;
            text-align: left;
            p {
              text-align: left!important;
              font-weight: normal;
              padding-right: 20px;
              &:after {
                position: absolute!important;
                right: 10px;
                top: 20px;
                font-size: 3em;
                @include font-awesome('\f105');
              }
            }
          }
        }

      }


      .box {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 20px;
        cursor: pointer;
        margin: 0;
        display: inline-block;
        width: 33.333%;
        @include respond-to(mobile) {
          width: 100%;
          padding: 0;
          margin: 10px 0;
          min-height: 80px;
          overflow: visible;
          position: inherit;
        }

        .content {
          margin: 0;
          padding: 0;
        }

        .richText {
          text-align: center;
          color: #fff;
          position: absolute;
          background: $color-accent-2;
          padding: 10px;
          top: 100%;
          left: 20px;
          bottom: 20px;
          right: 20px;
          border-radius: 5px;
          transition: 1s;
          overflow: 0;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top-color: $color-accent-2;
            position: absolute;
            bottom: -40px;
            left: 50%;
            margin-left: -20px;

          }
          &::before {
            content: 'x';
            position: absolute;
            top: 5px;
            right: 10px;
            color: #fff;
            font-weight: bold;
          }
          p {
            line-height: 16px;
            font-size: 0.8em;
            color: #fff;
            opacity: 0;
            @include respond-to(tablet) {
              padding: 2px 0;
              margin: 0;
              line-height: 1.1em;
              font-size: 0.75em;
            }
          }
          h3 {
            opacity: 0;
            position: relative;
            background: #fff;
            border-radius: 50%;
            font-size: 2em;
            line-height: 1.4em;
            width: 185px;
            height: 185px;
            text-transform: uppercase;
            margin: 0 auto;
            @include respond-to(tablet) {
              width: 135px;
              height: 135px;
            }
            &:before {
              display: none;
            }
            span {
              font-size: 2.5em;
              line-height: 160px;
              display: inline-block;
              padding-top: 0;
              @include respond-to(tablet) {
                font-size: 2.5em;
                padding-top: 10px;
              }
            }
          }
        }
        &.active {

          @keyframes anim{
            from  {
              //zoom: 0.5;
              transform: scale(0.5);
              -moz-transform: scale(0.5);
              opacity: 0;
            }
            to {
              //zoom: 1;
              transform: scale(1);
              -moz-transform: scale(1);
              opacity: 1;
            }
          }

          @-webkit-keyframes anim{
            from  {
              //zoom: 0.5;
              transform: scale(0.5);
              -moz-transform: scale(0.5);
              opacity: 0;
            }
            to {
              //zoom: 1;
              transform: scale(1);
              -moz-transform: scale(1);
              opacity: 1;
            }
          }

          .richText {
            //display: block;
            h3, p {
              animation: anim 3s;
              -ms-animation-name: anim 3s;
              -ms-animation: anim 3s;
              -webkit-animation: anim 3s;
              animation-fill-mode: forwards;
            }

            top: 20px;
            left: 20px;
            transition: 1s;

            @include respond-to(mobile) {
              top: 0;
              left: 0;
              right: 0;
              z-index: 99;
              padding-top: 60px;
            }
          }
        }
        @include respond-to(tablet){

        }
       @include respond-to(desktop){
         :hover {
           figure {
             box-shadow: 0 0 20px rgba(0,0,0,0.2);
             img {
               filter: grayscale(0%);
             }
           }
           figcaption {
             width: 200px;
             height: 200px;
             line-height: 200px;
             padding: 0 30px;
             transition: 0.1s;
             margin-top: -100px;
             margin-left: -100px;
           }
         }
       }
      }
    }
  }

  .chart-content {
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        color: $text-default;
        font-size: 1.4em;
        margin: 0;
        font-weight: bold;
        display: none;
        padding: 0 20px 0 60px;
        @include respond-to(mobile) {
          font-weight: normal;
          font-size: 1.2em;
        }
        span {
          background: $color-accent-2;
          color: #fff;
          font-weight: normal;
          width: 40px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          margin-right: 10px;
          float: left;
          margin-left: -50px;
        }
      }
    }
  }
}


.diagnosis {
  margin-top: 0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;

  > .diagnosis__filters.top {
    display: none;
    padding-top: 10px;
    .select ul {
     top: auto;
      bottom: 40px;
    }
  }


  * {
    box-sizing: border-box;
  }


    .row {
      display: flex; padding: 0;
      &.box-charts {
        @include respond-to(mobile) {
          display: block;
          margin: 0;
          .col-md-6 {
            @include respond-to(mobile) {
              width: 100%;
              margin-left: 0;
            }
          }
        }
      }

    }
    .inside.sexual {
      .row { flex-wrap: wrap;   }
    }
    .col-md-3 {
      width: 25%; margin: 0 10px;
      &.chart-box { margin: 0;}
    }
    .col-md-4 {
      width: 33.333%;  margin: 0 10px;
      &.chart-box { margin: 0;}
    }
    .col-md-6 {
      width: 50%;  margin: 0 10px;

    }
    &.chart-box {

    }
}

.diagnosis .diagnosis__charts {
  padding: 20px 10px 0 10px;
  width: 100%;
}

.diagnosis .diagnosis__filters {
  padding: 0 10px;
  width: 100%;
}

.diagnosis h2 {
  color: $text-default;
  font-size: 20px;
}

.diagnosis h2 span {
  background: $color-accent-2;
  color: #fff;
  font-weight: normal;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;

}


@media only screen and (max-device-width: 320px) {
  .diagnosis {
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    flex-direction: column-reverse;
  }
}

/*##### CHARTS ######*/

.diagnosis__charts {

  .chart-box {
    text-align: center;
    label {
      text-align: center;
      display: block;
      font-weight: bold;
      padding: 10px 0;
      line-height: 60px;
      color: #00144b;

      &:before {
        content: '';
        width: 40px;
        height: 50px;
        background-image: url(../../assets/img/icon_diagnosis.png);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include respond-to(mobile) {
          display: block;
          text-align: center;
          margin: 0 auto;
        }
        @include respond-to(tablet) {
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
    }



  }
  .chart {
    position: relative;
    input[type=checkbox] {
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -60px;
      background: #fff;
    }
  }

  .inside {
     background: #fff;
     margin-bottom: 20px;
     border: 1px solid #e9e6e6;
     border-radius: 5px;
     overflow: hidden;
     min-height: 280px;
     display: block;

    &.region {
      label:before {
        background: transparent;
        display: none;
      }
      .chart-value {
        &:before {
          content: '';
          width: 90px;
          height: 90px;
          position: absolute;
          border-radius: 50%;
          background: white;
          z-index: -1;
          top: -16px;
          margin-left: 0;
        }
      }
      canvas {
        position: relative;
        z-index: 9999;
      }
    }

    &.sexual {
      .row {
        padding: 35px 15px;
        label {
          background: transparent;
        }

      }
      .chart-box {
        display: block;
        width: 100%;
        padding: 0;
        text-align: left;
        .chart-box__label {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.2em;
          width: 35%;
          text-align: left;
          &:before {
            display: none;
          }
        }
        .chart-bar {
          display: inline-block;
          position: relative;
          vertical-align: middle;
          background-color: $gray;
          width: 50%;
          height: 11px;
          top: initial;
          margin: 0;
          overflow: hidden;
          border-radius: 11px;
          span {
            width: 20%;
            background-color: green ;
            display: inline-block;
            height: 11px;
            border-radius: 11px;
            margin: 0;
            top: 0;
            transition: 0.5s;
          }
          &.chart_color_1 { span { background-color: $chart-color-1}   }
          &.chart_color_2 { span { background-color: $chart-color-2}   }
          &.chart_color_3 { span { background-color: $chart-color-3}   }
          &.chart_color_4 { span { background-color: $chart-color-4}   }
        }
        .percent {
          display: inline-block;
          vertical-align: middle;
          width: 0%;
          padding: 0;
          margin: 0;
          font-size: 1.4em;
          font-weight: bold;
          color: $textColor;
        }
      }
    }

   }

  h3 {
    text-align: left;
    background: $color-accent-2;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 9px 10px;
    cursor: pointer;
    position: relative;
  }


  .chart_head {
    position: relative;
    ul {
      position: absolute;
      top: 42px;
      width: 100%;
      background: #fff;
      z-index: 99;
      padding: 10px 20px;
      margin: 0;
      list-style: none;
      box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.2);
      input { margin-right: 10px;}
      label { padding-left: 0;}
    }
  }

  .chart-value {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 1.4em;
    height: 40px;
    top: 48%;
    left: 0;
    right: 0;
    margin: -20px auto 0 auto;
    width: 90px;
    line-height: 40px;
    z-index: 99;
    @include respond-to(mobile){

    }
  }

  .age .chart_head ul {
    top: 0;
    position: relative;
  }

  .sexual .chart-box label {
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 0;
    color: #00144b;
  }

  .chart-box .label {
    margin: 0 auto;
    background-repeat: no-repeat;

    width: 80px;
    height: 100px;
    background-image: url(../../assets/img/icon_diagnosis.png);
  }

  .icon_region {
    margin-top: 0;
    width: 100%;
    height: 200px;
    background-image: url(../../assets/img/icon_diagnosis.png);
    background-repeat: no-repeat;
    background-position: 0px -196px;
  }





}

.diagnosis__charts.chart-title-center {
  display: block;
  position: relative;
  text-align: center;
}






.icon_region.region_1 {background-position: 0px -396px;}
.icon_region.region_2 {background-position: 0px -597px;}
.icon_region.region_1.region_2 {background-position: 0px -797px;}

.chart-box.age_1 label:before {background-position: 	-40px -95px;}
.chart-box.age_2 label:before {background-position: 	0 -95px;}
.chart-box.age_3 label:before {background-position: 	-995px -95px;}
.chart-box.age_1 label.active:before{background-position: 	-40px -145px;}
.chart-box.age_2 label.active:before{background-position: 	0 -145px;}
.chart-box.age_3 label.active:before{background-position: 	-995px -145px;}

.chart-box.gender_1 label:before {background-position: 0 12px;}
.chart-box.gender_2 label:before {background-position: -40px 12px;}
.chart-box.gender_3 label:before {background-position: -88px 12px;}
.chart-box.gender_1 label.active:before{background-position: 0 -40px;}
.chart-box.gender_2 label.active:before{background-position: -40px -40px;}
.chart-box.gender_3 label.active:before{background-position: -88px -40px;}

.diagnosis__charts {
  @include respond-to(mobile) {
    .icon_region {
      background-size: 140%;
    }
    .icon_region.region_1 {
      background-position: 46% 101%;
    }
    .icon_region.region_2 {
      background-position: 46% 101%;
    }
    .icon_region.region_1.region_2 {
      background-position: 46% 101%;
    }
  }

  @include respond-to(tablet) {
    .icon_region {
      background-size: 100%;
    }
    .icon_region.region_1 {
      background-position: 46% 101%;
    }
    .icon_region.region_2 {
      background-position: 46% 101%;
    }
    .icon_region.region_1.region_2 {
      background-position: 46% 101%;
    }
  }
}


.label-region,
.label-age,
.label-gender,
.label-sexual {
  cursor: pointer;
}


@media only screen and (max-device-width: 320px) {
  .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .diagnosis__charts .chart { position: relative; }
  .icon_region { background-size: 100%; }
}

@media only screen and (max-device-width: 480px) {
  .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .diagnosis__charts .chart {
    position: relative;
    canvas {
      width:  80px!important;
      height: 80px!important;
    }
  }
  .icon_region { background-size: 100%;
  }
}

@media only screen and (max-device-width: 768px) {
  .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box {
    width: 33%;
    text-align: center;
  }
  .diagnosis__charts .chart { position: relative; }
  .icon_region { background-size: 100%; }
}
/*###### FILTERS ####*/


.diagnosis__filters {


  .select {
    position: relative;
    & > .label {
      background: #fff;
      color: #999;
      font-size: 14px;
      border: 1px solid #eee;
      padding: 10px;
      border-radius: 4px;
      font-weight: bold;
      margin: 0;
      position: relative;
      & span {
        color: red;
        float: right;
      }
      &:hover {
        color: red;
      }

    }

    ul {
      list-style: none;
      margin: 0;
      background: #fff;
      border: 1px solid #eee;
      padding: 10px;
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
    }




  }

  .select {
    ul li input,
    ul li label {
      display: inline-block;
      vertical-align: top;
    }
    ul li input {
      padding: 0;
      margin: 7px 10px 0 0;
      background: #fff;
    }
    ul li label {
      padding: 0;
      margin: 0;
    }
  }

    .applied_filters {
      padding: 10px 10px 0 10px;
      display: block;

      h2 {
        color: #8d8d8d!important;
        font-size: 16px!important;
        padding: 0 0 10px 0!important;
      }


      & > span {
        display: inline-block;
        background: #b5c2c6;
        color: #fff;
        text-transform: uppercase;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 10px 10px 0;

        span {
          display: inline-block;
          margin: 0 0 0 10px;
          cursor: pointer;
          &:hover {
            color: red;
          }

        }
      }

      .applied_filters_clear {
        display: inline-block;
        background: #626262;
        color: #fff;
        text-transform: uppercase;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 10px 10px 0;
        cursor: pointer;
        &:hover {
          background-color: red;
        }
      }



  }
}




  @media only screen and (max-device-width: 320px) {
    .diagnosis__filters .select ul {
      position: relative;
      top: initial;
      left: initial;
      right: initial;
    }
  }









