@import '../../core/mixins';

.image .right {
    text-align: right;
}

.image .left {
    text-align: left;
}

.image .middle {
    text-align: center;
}

figure {
    a {
        display: block;
    }
}
