/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.accordion-container { border: solid 2px #323131; list-style: none; padding: 0; margin: 0; }

.accordion-head { display: block; color: #323131; font-size: 20px; font-weight: bold; padding-bottom: 10px; background-color: #e1e1e1; padding: 13px; margin: 0; color: #939191; border-top: 2px solid black; }

.accordion-slide:first-child .accordion-head { border-top: 0; }

.accordion-title { padding: 13px; margin: 0; }

/*
.accordion-slide:last-child:not(.is-active) > .accordion-head,
.accordion-slide:last-child > .accordion-content {
    border-bottom: none;
}*/
.accordion-content { padding: 13px; }

.accordion-content-wrapper { border-left: 0; border-right: 0; border-top: 0; }

.mod-js .accordion-slide .accordion-head:hover { background-color: #939191; color: white; }

.mod-js .accordion-slide.is-active > .accordion-head:hover { background-color: #e1e1e1; }

.mod-js .accordion-slide.is-active > .accordion-head { color: black; }

.mod-js .accordion-content-wrapper { visibility: hidden; height: 0; position: relative; top: -999999px; left: -999999px; overflow: hidden; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; }

.mod-js .accordion-slide.is-active > .accordion-content-wrapper { visibility: visible; position: relative; top: auto; left: auto; height: auto; overflow: auto; }

.mod-js .accordion-slide.is-active:last-child > .accordion-content-wrapper { border-bottom: none; }

.mod-js .accordion-head { cursor: pointer; margin-bottom: 0; position: relative; }

.mod-js .accordion-head:after { content: "\f054"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 12px; float: right; }

.mod-js .accordion-slide.is-active > .accordion-head { cursor: default; }

.mod-js .accordion-slide.is-active > .accordion-head:after { content: "\f078"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 12px; float: right; }
