/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.image .right { text-align: right; }

.image .left { text-align: left; }

.image .middle { text-align: center; }

figure a { display: block; }

.accent-1 { position: relative; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); background-color: #ffffff; padding: 0 10px; border-radius: 5px; transition: 0.6s; margin-bottom: 30px; }

.accent-1:hover { -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); transition: 0.6s; }

.accent-1 figure img { padding: 30px 0 25px 0; }

.accent-1 figure figcaption a { border-bottom: 3px solid transparent; outline: 0; }

.accent-1 figure:hover figcaption a { border-bottom: 3px solid #e2001d; outline: 0; }

.accent-1 figure figcaption h4 { margin-bottom: 0; min-height: 60px; }

.accent-1 figure figcaption a { display: block; color: #021549; font-weight: bold; }

@media only screen and (max-width: 767px) { .accent-1 { display: block; max-width: 46%; width: 46% !important; margin: 0 4% 4% 0; }
  .accent-1.accent-3 { margin-right: 0; }
  .accent-1.accent-5 { margin-right: 0; } }

@media only screen and (max-width: 420px) { .accent-1 { display: block; max-width: 46%; margin: 0 4% 4% 0; }
  .accent-1.accent-3 { margin-right: 0; }
  .accent-1.accent-5 { margin-right: 0; } }

.accent-2 { position: relative; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); background-color: #ffffff; padding: 0 10px; border-radius: 5px; transition: 0.6s; margin-bottom: 30px; }

.accent-2:hover { -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); transition: 0.6s; }

.accent-2 figure img { padding: 30px 0 25px 0; }

.accent-2 figure figcaption a { border-bottom: 3px solid transparent; outline: 0; }

.accent-2 figure:hover figcaption a { border-bottom: 3px solid #1e6575; outline: 0; }

.accent-2 figure figcaption h4 { margin-bottom: 0; min-height: 60px; }

.accent-2 figure figcaption a { display: block; color: #021549; font-weight: bold; }

@media only screen and (max-width: 767px) { .accent-2 { display: block; max-width: 46%; width: 46% !important; margin: 0 4% 4% 0; }
  .accent-2.accent-3 { margin-right: 0; }
  .accent-2.accent-5 { margin-right: 0; } }

@media only screen and (max-width: 420px) { .accent-2 { display: block; max-width: 46%; margin: 0 4% 4% 0; }
  .accent-2.accent-3 { margin-right: 0; }
  .accent-2.accent-5 { margin-right: 0; } }

.accent-3 { position: relative; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); background-color: #ffffff; padding: 0 10px; border-radius: 5px; transition: 0.6s; margin-bottom: 30px; }

.accent-3:hover { -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); transition: 0.6s; }

.accent-3 figure img { padding: 30px 0 25px 0; }

.accent-3 figure figcaption a { border-bottom: 3px solid transparent; outline: 0; }

.accent-3 figure:hover figcaption a { border-bottom: 3px solid #02c1c1; outline: 0; }

.accent-3 figure figcaption h4 { margin-bottom: 0; min-height: 60px; }

.accent-3 figure figcaption a { display: block; color: #021549; font-weight: bold; }

@media only screen and (max-width: 767px) { .accent-3 { display: block; max-width: 46%; width: 46% !important; margin: 0 4% 4% 0; }
  .accent-3.accent-3 { margin-right: 0; }
  .accent-3.accent-5 { margin-right: 0; } }

@media only screen and (max-width: 420px) { .accent-3 { display: block; max-width: 46%; margin: 0 4% 4% 0; }
  .accent-3.accent-3 { margin-right: 0; }
  .accent-3.accent-5 { margin-right: 0; } }

.accent-4 { position: relative; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); background-color: #ffffff; padding: 0 10px; border-radius: 5px; transition: 0.6s; margin-bottom: 30px; }

.accent-4:hover { -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); transition: 0.6s; }

.accent-4 figure img { padding: 30px 0 25px 0; }

.accent-4 figure figcaption a { border-bottom: 3px solid transparent; outline: 0; }

.accent-4 figure:hover figcaption a { border-bottom: 3px solid #f8c91a; outline: 0; }

.accent-4 figure figcaption h4 { margin-bottom: 0; min-height: 60px; }

.accent-4 figure figcaption a { display: block; color: #021549; font-weight: bold; }

@media only screen and (max-width: 767px) { .accent-4 { display: block; max-width: 46%; width: 46% !important; margin: 0 4% 4% 0; }
  .accent-4.accent-3 { margin-right: 0; }
  .accent-4.accent-5 { margin-right: 0; } }

@media only screen and (max-width: 420px) { .accent-4 { display: block; max-width: 46%; margin: 0 4% 4% 0; }
  .accent-4.accent-3 { margin-right: 0; }
  .accent-4.accent-5 { margin-right: 0; } }

.accent-5 { position: relative; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25); background-color: #ffffff; padding: 0 10px; border-radius: 5px; transition: 0.6s; margin-bottom: 30px; }

.accent-5:hover { -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.6); transition: 0.6s; }

.accent-5 figure img { padding: 30px 0 25px 0; }

.accent-5 figure figcaption a { border-bottom: 3px solid transparent; outline: 0; }

.accent-5 figure:hover figcaption a { border-bottom: 3px solid #51a045; outline: 0; }

.accent-5 figure figcaption h4 { margin-bottom: 0; min-height: 60px; }

.accent-5 figure figcaption a { display: block; color: #021549; font-weight: bold; }

@media only screen and (max-width: 767px) { .accent-5 { display: block; max-width: 46%; width: 46% !important; margin: 0 4% 4% 0; }
  .accent-5.accent-3 { margin-right: 0; }
  .accent-5.accent-5 { margin-right: 0; } }

@media only screen and (max-width: 420px) { .accent-5 { display: block; max-width: 46%; margin: 0 4% 4% 0; }
  .accent-5.accent-3 { margin-right: 0; }
  .accent-5.accent-5 { margin-right: 0; } }

.main .side-image { margin: 0; line-height: 0; }

@media only screen and (max-width: 767px) { .main .side-image { display: none !important; } }

@media only screen and (max-width: 767px) { .analytics-image-tracking { text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .analytics-image-tracking { text-align: center; } }
