/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.sitemap-column { float: left; }

.sitemap-column > ul { margin: 0 5px; }

.sitemap-columns-1 .sitemap-column { width: 100%; }

.sitemap-columns-2 .sitemap-column { width: 50%; }

.sitemap-columns-3 .sitemap-column { width: 33.32%; }

.sitemap-columns-4 .sitemap-column { width: 25%; }

.sitemap-columns-5 .sitemap-column { width: 20%; }

.sitemap-columns-6 .sitemap-column { width: 16.64%; }

.sitemap-columns-7 .sitemap-column { width: 14.25%; }

.sitemap-columns-8 .sitemap-column { width: 12.49%; }

.sitemap-columns-9 .sitemap-column { width: 11.10%; }

.sitemap-columns-10 .sitemap-column { width: 10%; }

.sitemap-columns-11 .sitemap-column { width: 9.08%; }

.sitemap-columns-12 .sitemap-column { width: 8.32%; }

.sitemap-column ul { list-style: none; padding: 0; }

.sitemap-column a { text-decoration: none; }

.sitemap-column .component-content { overflow: hidden; }

.sitemap-column h3 { background-color: #e1e1e1; font-size: 13px; font-weight: bold; padding: 5px 10px; }

.sitemap-column ul { padding-bottom: 10px; margin-bottom: 10px; }

.sitemap-column ul ul { padding-bottom: 0; margin-bottom: 0; margin-left: 0; padding-left: 10px; }

.sitemap-column ul ul li { font-weight: bold; padding-left: 12px; line-height: 150%; position: relative; }

.sitemap-column ul ul li:before { content: "\f0da"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; left: 0; top: 1px; position: absolute; }

.sitemap-column ul ul ul { margin-top: 0; }

.sitemap-column ul ul ul li { font-weight: normal; margin-left: 10px; }

/*************************** Sitemap media queries */
@media only screen and (max-width: 767px) { .component-content .sitemap-column { width: 100%; float: none; }
  .component-content .sitemap-column > ul { margin: 0 0 15px; } }
