/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.smart-link { margin: 10px 0; float: right; }

.smart-link-list { overflow: hidden; margin: 0; padding: 0; list-style: none; text-align: right; padding-right: 10px; }

.smart-link-list li { display: inline-block; *display: inline; margin-top: 15px; }

.smart-link-next:after, .smart-link-previous:before { position: relative; top: -1px; height: 14px; display: inline-block; width: 6px; font-size: 18px; color: #12919f; opacity: 0.6; }

.smart-link-next:after { content: "\f054"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 15px; font-size: 18px; opacity: 1; }

.smart-link-previous:before { content: "\f053"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 15px; }

.smart-link-next, .smart-link-previous { font-size: 0; }
