@import '../../core/mixins';

.searchResults-pagination {
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.searchResults-pagination-list {
  padding: 0;
  margin: 0;
}

.searchResults-pagination-item {
  display: inline-block;
  line-height: 30px;
  background-color: lighten($lightThemeColor, 5);
  margin: 1px;
  cursor: default;
  *display: inline;
}

.searchResults-pagination-item a {
  display: inline-block;
  background-color: $lightThemeColor;
  min-width: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.searchResults-pagination-item a:hover {
  background-color: lighten($lightThemeColor, 4);
  text-decoration: none;
}

.searchResults-pagination-item.is-active {
  font-weight: bold;
}

.searchResults-title {
  @include heading();
  margin-left: 110px;
}

.searchResults-term {
  font-style: italic;
}

.searchResults-number {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.searchResults-results {
  margin-bottom: 10px;
}

.searchResults-description,
.searchResults-url {
  margin-left: 110px;
}

.searchResults-image {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.searchResults-result {
  position: relative;
  overflow: hidden;
  padding: 0 10px 20px 10px;
  background-color: $lightThemeColor;
}

.searchResults-result:nth-child(even) {
  background-color: inherit;
}

.searchResults-icon-wrapper {
  position: absolute;
  text-align: center;
  width: 70px;
  margin-top: 10px;
  left: 0;
  top: 0;
}

.searchResults-date {
  margin-bottom: 10px;
  margin-left: 110px;
}

.searchResults-url {
  margin-top: 10px;
}

.lt-ie8 {

  .searchResults-pagination-item {
    display: inline;
    zoom: 1;
    margin: 3px;
  }

  .searchResults-pagination-item a {
    display: block;
    zoom: 1;
  }

}

.searchResults-tags {
  list-style-type: none;
  padding: 0;
}

.searchResults-tags-item {
  display: inline-block;
  margin: 0 2px;
}

.searchResults-tags-item-link {
  background: $mediumThemeColor;
  color: $black;
  border: 1px solid $themeColor;
  padding: 1px;
  display: block;
  font-size: 0.85em;
}