.committe-tile {
  cursor: pointer;
  margin-bottom: 20px;
  min-height: 100px;
  &.omega {

  }

  &.alpha.active {
      @include respond-to(mobile) {
        margin-bottom: 400px;
      }
  }
  p {
    font-size: 1em;
    margin: 0;
    padding: 0 0 3px 0;
  }
  .component-content {
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    img {
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      transition: 0.6s;
      position: relative;
      padding-right: 10px;
      /*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */


      &:hover {
        filter: grayscale(0);
        transition: 0.6s;
      }
    }
    .richText-content{
      padding: 0 10px 0 20px;
      strong {
        color: $color-primary;
      }
      p {
        font-size: 1em;
        margin: 0;
        padding: 0 0 3px 0;
      }
      @include respond-to(mobile) {
        p {
          font-size: 1em;
          line-height:1.2em;
        }
      }
    }
  }
}