.accent-title {
  margin-bottom: 10px;

  img {
    border-radius: 100%;
    padding: 5px;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
    float: none;
    background-color: $color-accent-1;

  }

  &.color-1 {
    img {
    background-color: $color-accent-1;
    }
  }
  &.color-2 {
    img {
      background-color: $color-accent-2;
    }
  }
  &.color-3 {
    img {
      background-color: $color-accent-3;
    }
  }
  &.color-4 {
    img {
      background-color: $color-accent-4;
    }
  }
  &.color-5 {
    img {
      background-color: $color-accent-5;
    }
  }
  .richText-content {
    max-width: 85%;
    line-height: 55px;
    display: inline-block;
    vertical-align: middle;
    h2 { line-height: 1.3em; margin: 0; padding: 0; text-align: left;}


    @include respond-to(mobile) {
      max-width: 75%;
      //h2 { font-size: 20px;}

    }
    @include respond-to(tablet) {
      max-width: 75%;
      //h2 { font-size: 20px;}
    }
  }
}