/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/*! Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
@font-face { font-family: 'FontAwesome'; src: url("../../assets/fonts/fontawesome-webfont.eot?v=4.1.0"); src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
@font-face { font-family: 'Raleway'; /* src: url("../../assets/fonts/raleway/Raleway-Black.ttf"); src: url("../../assets/fonts/raleway/Raleway-BlackItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-Bold.ttf"); src: url("../../assets/fonts/raleway/Raleway-BoldItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-ExtraBold.ttf"); src: url("../../assets/fonts/raleway/Raleway-ExtraBoldItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-ExtraLight.ttf"); src: url("../../assets/fonts/raleway/Raleway-ExtraLightItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-Light.ttf"); src: url("../../assets/fonts/raleway/Raleway-LightItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-Medium.ttf"); src: url("../../assets/fonts/raleway/Raleway-MediumItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-Regular.ttf"); /*  src: url("../../assets/fonts/raleway/Raleway-SemiBold.ttf"); src: url("../../assets/fonts/raleway/Raleway-SemiBoldItalic.ttf"); src: url("../../assets/fonts/raleway/Raleway-Thin.ttf"); src: url("../../assets/fonts/raleway/Raleway-ThinItalic.ttf"); */ font-style: normal; }

@font-face { font-family: 'AvantGarde'; src: url("../../assets/fonts/avantgarde/33ED2B_0_0.eot"); src: url("../../assets/fonts/avantgarde/33ED2B_0_0.eot?#iefix") format("embedded-opentype"); src: url("../../assets/fonts/avantgarde/33ED2B_0_0.woff2") format("woff2"); src: url("../../assets/fonts/avantgarde/33ED2B_0_0.woff") format("woff"); src: url("../../assets/fonts/avantgarde/33ED2B_0_0.ttf") format("truetype"); font-style: normal; font-weight: bold; }

@font-face { font-family: 'AvantGarde'; src: url("../../assets/fonts/avantgarde/33ED2B_1_0.eot"); src: url("../../assets/fonts/avantgarde/33ED2B_1_0.eot?#iefix") format("embedded-opentype"); src: url("../../assets/fonts/avantgarde/33ED2B_1_0.woff2") format("woff2"); src: url("../../assets/fonts/avantgarde/33ED2B_1_0.woff") format("woff"); src: url("../../assets/fonts/avantgarde/33ED2B_1_0.ttf") format("truetype"); font-style: normal; font-weight: 700; }

@font-face { font-family: 'AvantGarde'; src: url("../../assets/fonts/avantgarde/33ED2B_2_0.eot"); src: url("../../assets/fonts/avantgarde/33ED2B_2_0.eot?#iefix") format("embedded-opentype"); src: url("../../assets/fonts/avantgarde/33ED2B_2_0.woff2") format("woff2"); src: url("../../assets/fonts/avantgarde/33ED2B_2_0.woff") format("woff"); src: url("../../assets/fonts/avantgarde/33ED2B_2_0.ttf") format("truetype"); font-style: normal; font-weight: normal; }

* { box-sizing: border-box; }

body { line-height: 1.3; color: #021549; font-family: "AvantGarde", sans-serif; font-weight: normal; font-size: 16px; position: relative; overflow: auto; }

@media only screen and (max-width: 767px) { body { font-size: 13px; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { body { font-size: 14px; } }

[id=wrapper] { max-width: 100%; width: 100%; padding: 0; }

#cq-emulator-content.firefox { background-color: #FFF !important; }

html, body { width: 100%; }

[id=wrapper] { color: #323131; background-color: #F5F5F5; width: 100%; padding: 80px 0 0 0; }

[id=wrapper] .main { width: 100%; padding: 0; }

@media only screen and (max-width: 767px) { [id=wrapper] { padding: 50px 0 0 0; } }

[id=header].main { background: #ffffff; }

[id=header].main .layout-outer { margin: 0 auto !important; padding: 0; }

[id=footer] { padding-bottom: 15px; padding-top: 15px; }

/* BASE STYLES
----------------------------------------- */
img { max-width: 100%; }

p { color: #021549; }

h1, h2, h3, h4 { font-weight: bold; margin: 0; color: #021549; }

h1 { font-size: 50px; }

h2 { font-size: 1.4em; margin-bottom: 2%; }

h3 { font-size: 1.3em; }

h4 { font-size: 1.2em; margin-bottom: 20px; }

a { color: #323131; text-decoration: none; }

a:hover { color: #868484; }

/* LAYOUT STYLES
----------------------------------------- */
.component { margin-bottom: 0; }

.component-content { margin-bottom: 14px; }

.component-content:before, .component-content:after { content: ""; display: table; }

.component-content:after { clear: both; }

.component > .component-content { margin-bottom: 0; }

/* UTILITIES
----------------------------------- */
.pull-right { float: right; }

.pull-left { float: left; }

.is-hidden { display: none !important; visibility: hidden !important; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.grayscale img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(1); filter: url("gray.svg#grayscale"); filter: url("#grayscale"); filter: grayscale(1); filter: gray; filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F8F8F8') progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=170, Color='#C6C6C6'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F8F8F8') progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=170, Color='#C6C6C6')"; -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='50'); }

.grayscale:hover img { filter: grayscale(0); filter: none; }

.grayscale.grayscale-fade { transition: filter .5s; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { .grayscale.grayscale-fade { -webkit-transition: -webkit-filter .5s; transition: -webkit-filter .5s; } }

.grayscale.grayscale-fade:hover, .grayscale.grayscale-off { -webkit-filter: grayscale(0); filter: grayscale(0); }

.grayscale.grayscale-replaced { -webkit-filter: none; filter: none; }

.grayscale.grayscale-replaced > svg { -webkit-transition: opacity .5s ease; transition: opacity .5s ease; opacity: 1; }

.grayscale.grayscale-replaced.grayscale-fade:hover > svg, .grayscale.grayscale-replaced.grayscale-off > svg { opacity: 0; }

.clearfix:after { clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix { zoom: 1; }

/* Header specific styles */
@media only screen and (max-width: 767px) { #header { height: 55px; }
  #header .component { margin-bottom: 0; } }

/*########### HOMEPAGE ###########*/
.page-home .box-960 .component-content .content.paragraphSystem { margin: 0 auto; }

.page-home .box-960 .component-content .content.paragraphSystem .richText h3 { padding: 30px 0; margin: 0; }

.page-home .box-960 .component-content .content.paragraphSystem .richText h3:before { display: none; }

.page-home .box-960 .component-content .content.paragraphSystem .richText h4 { padding: 0.5em 1em; margin: 0; }

.page-home .box-960 .component-content .content.paragraphSystem .richText p { padding: 0 0 20px 0; }

@media only screen and (min-width: 990px) { .page-home .box-960 .component-content .content.paragraphSystem { padding: 0; } }

.page-home .secondary-bg { margin: 0; }

.page-home .page-box-1 { padding-bottom: 0; }

.page-home .page-box-1 figcaption h4 { padding: 0 0 15px 0; margin: 0; }

.page-home .page-box-2 .secondary-bg { margin-bottom: 60px; }

@media only screen and (max-width: 767px) { .page-home .page-box-1 { padding-bottom: 0; }
  .page-home .page-box-1 figcaption h4 { padding: 0 0 5px 0; margin: 0; } }

/*########### PATIENT STORIES ###########*/
.page-patient-stories .page-box-2 { padding: 60px 0; }

/*########### ABOUT PP ###########*/
.page-about-positive-perspectives #wrapper .main .hero-subpageTitle .component-content h2 { padding-top: 0px; font-size: 22px; line-height: 1.3em; }

.page-about-positive-perspectives #wrapper .main .hero-subpageTitle .component-content h2 .part-0 { padding-left: 6px; }

.page-about-positive-perspectives #wrapper .main .hero-subpageTitle .component-content h2 .part-1 { padding-left: 0; }

.page-about-positive-perspectives #wrapper .main .hero-subpageTitle .component-content h2 .part-2 { padding-left: 6px; }

@media only screen and (max-width: 767px) { .page-about-positive-perspectives .side-image.grid_6 { display: none; } }

/*##### Diagnosis ######*/
.page-diagnosis .secondary-bg.alpha { padding: 0 25px; min-height: 600px; }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.alpha { min-height: initial; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-diagnosis .secondary-bg.alpha { min-height: initial; } }

.page-diagnosis .side-image { margin-bottom: 20px; }

/*##### Disclosure ######*/
.page-disclosure .secondary-bg.alpha { padding: 0 25px; min-height: 600px; }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.alpha { min-height: initial; } }

.page-disclosure .side-image { margin-bottom: 20px; }

/*##### Treatment ######*/
.page-treatment .secondary-bg.alpha { padding: 0 25px; min-height: 600px; }

@media only screen and (max-width: 767px) { .page-treatment .secondary-bg.alpha { min-height: initial; } }

.page-treatment .side-image { margin-bottom: 20px; }

/*##### Talking to your doctor ######*/
.page-talking-with-your-doctor .secondary-bg.alpha, .page-talking-to-your-doctor .secondary-bg.alpha { padding: 0 25px; min-height: 600px; }

@media only screen and (max-width: 767px) { .page-talking-with-your-doctor .secondary-bg.alpha, .page-talking-to-your-doctor .secondary-bg.alpha { min-height: initial; } }

.page-talking-with-your-doctor .side-image, .page-talking-to-your-doctor .side-image { margin-bottom: 20px; }

.unity-tool-module { width: 100%; min-height: 600px; overflow-x: hidden; }

.unity-tool-module iframe { border: 0; width: 100%; min-height: 600px; overflow-x: hidden; }

@media only screen and (min-width: 768px) and (max-width: 989px) { #content.main .body.paragraphSystem { padding: 15px; }
  [class*="grid_"], .main [class*="grid_"], .main [class*="grid_"].alpha, .main [class*="grid_"] [class*="grid_"], .main [class*="grid_"] [class*="grid_"].alpha { margin: initial !important; } }

#header { padding: 10px 0 0 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); position: fixed; z-index: 99999; top: 0; text-align: center; }

#header .grid_3, #header .box-logo { padding-right: 20px; }

#header .grid_3 *, #header .box-logo * { text-align: center !important; }

#header .grid_3 .image.grid_6, #header .box-logo .image.grid_6 { width: 50% !important; }

#header .grid_3 .image.first, #header .box-logo .image.first { border-right: 2px solid #b1a59b; }

#header .grid_12 { max-width: 960px; float: none; margin: 0 auto !important; }

#header .grid_12.topnav_submenu { max-width: 100%; }

#header .image { padding-bottom: 5px !important; }

#header .image.component { line-height: 0; }

#header .component { margin: 0; padding: 0; }

#header .component.alpha a { display: inline-block; margin: 0; padding: 0; }

#header .component.alpha a img { -webkit-transition: 1s; /* Safari */ transition: 1s; height: 45px; margin: 0; padding: 0; display: block; }

#header.main .layout-outer { padding: 0; }

#header.smallHeader .navigation-root { -webkit-transition: 1s; /* Safari */ transition: 1s; padding-top: 5px; }

#header.smallHeader .box-logo, #header.smallHeader .grid_3 { padding-bottom: 10px !important; }

#header.smallHeader .box-logo .image, #header.smallHeader .grid_3 .image { padding: 0; }

#header.smallHeader .box-logo .image.last, #header.smallHeader .grid_3 .image.last { display: none; }

#header.smallHeader .component { margin: 0; padding: 0; }

#header.smallHeader .component.alpha a { display: inline-block; margin: 0; padding: 0; }

#header.smallHeader .component.alpha a img { -webkit-transition: 1s; /* Safari */ transition: 1s; height: 28px; margin: 0; padding: 0; display: block; }

@media only screen and (max-width: 767px) { #header { padding: 10px 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); position: fixed; z-index: 99999; top: 0; }
  #header .grid_9 { float: right; width: 45%; }
  #header .box-logo, #header .grid_3 { padding-bottom: 10px !important; width: 50%; float: left; }
  #header .box-logo .image, #header .box-logo .image.grid_6, #header .grid_3 .image, #header .grid_3 .image.grid_6 { padding: 0; width: 45% !important; display: inline-block; }
  #header .box-logo .image.last, #header .grid_3 .image.last { display: none; }
  #header .navigation-root { -webkit-transition: 1s; /* Safari */ transition: 1s; padding-top: 0; }
  #header .image.component { line-height: 0; }
  #header .component { margin: 0; padding: 0; }
  #header .component.alpha a { display: inline-block; margin: 0; padding: 0; }
  #header .component.alpha a img { -webkit-transition: 1s; /* Safari */ transition: 1s; height: 33px; margin: 0; padding: 0; display: block; }
  #header.main .layout-outer { padding: 0; }
  #header.smallHeader .navigation-root { -webkit-transition: 1s; /* Safari */ transition: 1s; padding-top: 0; }
  #header.smallHeader .component { margin: 0; padding: 0; }
  #header.smallHeader .component.alpha a { display: inline-block; margin: 0; padding: 0; }
  #header.smallHeader .component.alpha a img { -webkit-transition: 1s; /* Safari */ transition: 1s; height: 33px; margin: 0; padding: 0; display: block; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { #header { padding: 8px 15px; }
  #header .box-logo, #header .grid_3 { padding: 10px 0 !important; float: left; }
  #header .box-logo .image, #header .box-logo .image.grid_6, #header .grid_3 .image, #header .grid_3 .image.grid_6 { width: 45% !important; display: inline-block; }
  #header .box-logo .image img, #header .box-logo .image.grid_6 img, #header .grid_3 .image img, #header .grid_3 .image.grid_6 img { width: 50px; height: auto; }
  #header .box-logo .image.last, #header .grid_3 .image.last { display: none; }
  #header .navigation-root .navigation-item .navigation-item-title { margin-left: 10px; } }

.box-zinc { max-width: 960px; padding: 30px 0 0 0; margin: 0 auto; border-top: 1px solid #9d9d9d; }

.box-zinc p { margin: 0; padding: 0 0 10px 0; }

.box-zinc * { color: #635a54; font-size: 15px; line-height: 1.2; font-weight: 400; }

.box-zinc .red { color: #f36633; display: inline-block; padding-bottom: 20px; }

#footer { max-width: 960px; }

#footer .shareThis-list { padding: 0; margin: 0; }

#footer .shareThis-list li { margin-bottom: 0; padding-bottom: 0; }

#footer .box-960 .component-content .content { padding: 0; }

#footer .primary-darker-bg { padding: 10px 20px; background: #ececec; margin: 20px 0; }

#footer .primary-darker-bg * { color: #635a54; font-size: 15px; line-height: 1.4; font-weight: 400; }

#footer .primary-darker-bg a { color: #f36633; }

#footer .primary-darker-bg .red { color: #f36633; }

#footer .primary-darker-bg .small-font { letter-spacing: initial; font-size: 13px; }

#footer .box { margin-bottom: 0; }

#footer .primary-bg { background: #635a54; }

#footer .primary-bg .content { padding: 0; }

#footer .primary-bg .richText { padding: 0; position: relative; text-align: left; }

#footer .primary-bg .richText ul { margin: 0; padding: 0; line-height: 1em; }

#footer .primary-bg .richText ul li { list-style-type: none; display: inline-block; color: #ffffff; padding: 13px 0; }

#footer .primary-bg .richText ul li a { color: #ffffff; border-right: 1px dotted #fff; text-transform: inherit; display: inline-block; padding: 0 13px; font-size: 13px; }

#footer .primary-bg .richText ul li a:hover { color: #ffffff; }

#footer .primary-bg .richText ul li:last-child a { border: 0; }

@media only screen and (max-width: 767px) { #footer { font-size: 12px; }
  #footer .shareThis-list { padding: 0; margin: 0; }
  #footer .shareThis-list li { margin-bottom: 0; padding-bottom: 0; }
  #footer .box-960 .component-content .content { padding: 0; }
  #footer .primary-darker-bg { padding: 20px; }
  #footer .primary-darker-bg .box.first { width: 40%; float: left; }
  #footer .primary-darker-bg .box.first p { margin: 0; padding: 0 0 10px 0; line-height: 1.3em; }
  #footer .primary-darker-bg .box.last { width: 60%; float: left; }
  #footer .primary-darker-bg .small-font { letter-spacing: initial; }
  #footer .primary-bg .richText ul { margin: 0; padding: 10px 0; text-align: left; }
  #footer .primary-bg .richText ul li { margin: 0; padding: 15px; width: 48%; display: inline-block; text-align: left; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { #footer .primary-bg .richText ul li { padding: 15px; }
  #footer .primary-darker-bg .section.first { padding-left: 15px; } }

#footer .zinc-code { width: 960px; max-width: 100%; padding: 0 10px; font-size: 1em; position: relative; margin: 0 auto; }

@media only screen and (min-width: 990px) { #footer .zinc-code { padding: 0; } }

#footer .zinc-code p { font-size: 0.8rem; }
