@import '../../core/mixins';

.box {
    &.left-content {
        margin-top: 60px;
        @include respond-to(mobile) {
            margin-top: 10px ;
        }
    }
}


.box-outlined .component-content {
    @include frame();
    @include innerspace();
    @include filled();
}

.box-heading {
    @include heading();
}

.box-more {
    display: block;
    text-align: right;
}


/*#### ABOUT PP ####*/
.box {
    &.person-one {
        display: none;
        margin: 30px 0;

        @include respond-to(mobile) {
            margin: -505px 0 10px 0;
            min-height: 350px;

        }

        .richText-content {
            padding: 40px 0;
            @include respond-to(mobile) {
                padding: 10px 0;
            }
            p { font-size: 1.1em;}
            ul {
                font-size: 1.1em;
                color: $text-default;
                padding-right: 15px;
            }
            @include respond-to(mobile) {
                padding: 10px 0;
                p, ul { font-size: 1em;}
            }
        }
    }
    &.person-two {
        display: none;
        margin: 30px 0;
        @include respond-to(mobile) {
            margin: 10px 0 20px 0!important;
            min-height: 350px;
        }
        .richText-content {
            padding: 40px 0;
            @include respond-to(mobile) {
                padding: 10px 0;
            }
            p { font-size: 1.1em;}
            ul {
                font-size: 1.1em;
                color: $text-default;
                padding-right: 15px;
            }
            @include respond-to(mobile) {
                padding: 10px 0;
                p, ul { font-size: 1em;}
            }
        }
    }



}


