.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;

  .box-heading {
    position: absolute;
    top: 0;
    right: 40px;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    //background: rgba(255,255,255,0.3);
    font-size: 11px;
    font-weight: normal;
    &:before {
      padding: 0 10px 0 0;
      @include font-awesome('\f030');
    }
    &:after {
      content: '';
      border-top: 26px solid rgba(255, 255, 255, 0.3);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: 0;
      width: 275px;
      position: absolute;
      top: 0;
      right: -5px;
    }
  }

  & > .component-content {
    background-position: center 320px;
    padding-bottom: 60px;
    background-size: 83%;
    background-repeat: no-repeat;
    min-height: 550px;
    border-radius: 0 0 100% 100%;
    margin-top: -300px;
    margin-left: -200px;
    margin-right: -200px;
    box-shadow: 22px 7px 0 $color-accent-1;

    @include respond-to(tablet) {
      min-height: 480px;

    }

    .content {
      max-width: 960px;
      margin: 0 auto;
      p, h1, h2, h3, h4 {
        color: $text-light;
      }
      p {
      margin-top: 0;
        font-size: 0.8em;
      }
      h1 {
         line-height: 1;
      }
    }
  }
}

.hero {
  &.color-1 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-1;
    }
  }
  &.color-2 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-2;
    }
  }
  &.color-3 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-3;
    }
  }
  &.color-4 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-4;
    }
  }
  &.color-5 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-5;
    }
  }
}

@include respond-to(mobile){
  .hero {
    & > .component-content {
      background-size: 150%;
      //background-position: 50% center;

      & > .content {
        h1 {
          line-height: .9;
        }
        p {
          text-align: justify;
          padding: 0 8%;
          font-size: 13px;
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .hero {
    .grid_9 {
      width: 100%!important;
      padding: 0 4%;
    }
  }

}

.page-home {
  .hero {
    & > .component-content {
      background-position: center 300px;
      padding-bottom: 30px;
      background-size: 68%;
      background-repeat: no-repeat;
      min-height: 30px;
      padding-top: 300px;
      border-radius: 0 0 100% 100%;
      margin-top: -300px;
      margin-left: -500px;
      margin-right: -500px;
      box-shadow: 22px 7px 0 $color-accent-1;
    }
  }
  @include respond-to(mobile) {
    .hero {
      & > .component-content {
        padding-bottom: 0;
        background-size: 50%;
        margin-top: -300px;
        margin-left: -800px;
        margin-right: -800px;
        & > .content {
          max-width: 100vw;
        }
      }
    }
  }
  @include respond-to(tablet) {
    .hero {
      & > .component-content {
        padding-bottom: 0;
        background-size: 40%;
        margin-top: -300px;
        margin-left: -800px;
        margin-right: -800px;
        & > .content {
          max-width: 100vw;
        }
      }
    }
  }
}
