.indent-shadow {
  position: relative;
  -webkit-box-shadow: inset 0px 5px 10px 0 $shadow;
  box-shadow: inset 0px 5px 10px 0 $shadow;
  &:after {
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 15px 19px 0;
    border-color: $background transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 91px;
    top: 0;
  }
  &.person-one {
    &:after {
      left: 50%;
      margin-left: -300px;
    }
  }
  &.person-two {
    &:after {
      left: 50%;
      margin-left: 200px;
    }
  }
}