@import '../../core/mixins';

/* STATES AND INPUT GROUP VARIABLES
    ------------------------------------*/

$inputs-list: 'input[type="email"]', 'input[type="number"]', 'input[type="password"]', 'input[type="search"]', 'input[type="tel"]', 'input[type="text"]', 'input[type="url"]', 'input[type="color"]', 'input[type="date"]', 'input[type="datetime"]', 'input[type="datetime-local"]', 'input[type="month"]', 'input[type="time"]', 'input[type="week"]';

$validation-state-main-elms: input, select, textarea;

$validation-state-all-elms: 'input', 'select', 'textarea', '.control-label', '.help-block', '.help-inline', '.checkbox', '.radio';

/*   TEMPORARY VARIABLES FOR OPERATIONS
    ------------------------------------*/

$unquoted-inputs-list: ();
$unquoted-inputs-list-focus: ();

$unquoted-validation-state-main-elms: ();
$unquoted-validation-state-main-elms-focus: ();

$unquoted-validation-state-all-elms: ();
$unquoted-validation-state-main-elms-focus: ();

/*   CREATING SCSS USABLE VARIABLES FOR INTERPOLATION
    ------------------------------------*/

@each $input-type in $inputs-list {
  $unquoted-inputs-list: append($unquoted-inputs-list, unquote($input-type), comma) !global;
}

@each $input-type in $inputs-list {
    $unquoted-inputs-list-focus: append($unquoted-inputs-list-focus, unquote($input-type+':focus'), comma) !global;
}

@each $validation-state-main-elm in $validation-state-main-elms {
    $unquoted-validation-state-main-elms: append($unquoted-validation-state-main-elms, unquote($validation-state-main-elm), comma) !global;
}


@each $validation-state-main-elm in $validation-state-main-elms {
    $unquoted-validation-state-main-elms-focus: append($unquoted-validation-state-main-elms-focus, unquote($validation-state-main-elm+':focus'), comma) !global;
}

@each $validation-state-all-elm in $validation-state-all-elms {
    $unquoted-validation-state-all-elms: append($unquoted-validation-state-all-elms, unquote($validation-state-all-elm), comma) !global;
}

/*   FUNCTIONAL VARIABLES FOR INPUTS AND STATES
    ------------------------------------*/

$all-text-inputs: $unquoted-inputs-list;
$all-text-inputs-focus: $unquoted-inputs-list-focus;

$main-validation-state-elms: $unquoted-validation-state-main-elms;
$main-validation-state-elms-focus: $unquoted-validation-state-main-elms-focus;

$all-validation-state-elms: $unquoted-validation-state-all-elms;

/* COLOR AND FONT VARIABLES
TODO: SEPARATE COLOR ON FUNCTIONS
    ------------------------------------*/
$warningMainColor: #c09853;
$warningShadowColor: #dbc59e;
$warningBorderColor: #a47e3c;

$errorMainColor: #b94a48;
$errorShadowColor: #d59392;
$errorBorderColor: #953b39;
$formErrorBorder: #ee5f5b;
$formErrorBorderFocus: #e9322d;

$successMainColor: #468847;
$successShadowColor: #7aba7b;
$successBorderColor: #356635;

$infoMainColor: #3a87ad;
$infoShadowColor: #7ab5d3;
$infoBorderColor: #2d6987;

$inputTextColor: #555555;
$mainBorderColor: #CCCCCC;
$activeBorderColor: #52A8EC;

$disableTextColor: #999999;
$disableBorderColor: #fcfcfc;
$disableBackgroundColor: #eeeeee;
$helpTextColor: #595959;

$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
;

/* MAIN STYLE FOR FORM
    ------------------------------------*/

.form {

    .form-heading {
        @include heading();
    }

    /* TWITTER BOOTSTRAP FORM STYLE
    ------------------------------------*/

    form {
        margin: 0 0 20px;
    }

    fieldset {
        @include filled();
        @include frame();
        @include innerspace();
        margin: 15px 0;
        min-width: 0;
    }

    legend {
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
        padding: 0 5px;
    }

    fieldset legend {
        display: table;
        white-space: normal;
        margin-right: 10px;
    }

    label,
    input,
    button,
    select,
    textarea {
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        max-width: 100%;
    }

    textarea {
        @include box-sizing(border-box);
        width: 300px;
        min-width: 200px;
    }

    input,
    button,
    select,
    textarea {
        font-family: $fontFamily;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    select,
    textarea,
    #{$all-text-inputs},
    .uneditable-input {
        display: inline-block;
        height: 20px;
        padding: 4px 6px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: $inputTextColor;
        vertical-align: middle;
        @include border-radius(4px);
    }

    input,
    textarea,
    .uneditable-input {
        width: 206px;
    }

    fieldset textarea {
        resize: vertical;
        width: 100%;
    }

    textarea {
        height: auto;
    }

    select,
    textarea,
    #{$all-text-inputs},
    .uneditable-input {
        background-color: $white;
        border: 1px solid $mainBorderColor;
        @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
        @include transition(border linear 0.2s, box-shadow linear 0.2s);
    }

    select:focus,
    textarea:focus,
    #{$all-text-inputs-focus},
    .uneditable-input:focus {
        border-color: rgba($activeBorderColor, 0.8);
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 8px rgba($activeBorderColor, 0.6));
    }

    input + .help-block,
    select + .help-block,
    textarea + .help-block,
    .uneditable-input + .help-block {
        margin-top: 10px;
    }

    input,
    textarea,
    select,
    .help-inline,
    .uneditable-input {
        display: inline-block;
        *display: inline;
        margin-bottom: 0;
        vertical-align: middle;
        *zoom: 1;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 4px 0 0;
        margin-top: 1px                  \9;
        *margin-top: 0;
        line-height: normal;
    }

    input[type="file"],
    input[type="image"],
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
    }

    select,
    input[type="file"] {
        height: 30px;
        /* In IE7, the height of the select element cannot be changed by height, only font-size */
        *margin-top: 4px;
        /* For IE7, add top margin to align select with labels */
        line-height: 30px;
    }

    select {
        width: 220px;
        background-color: $white;
        border: 1px solid $mainBorderColor;
    }

    select[multiple],
    select[size] {
        height: auto;
    }

    .uneditable-input,
    .uneditable-textarea {
        color: $disableTextColor;
        cursor: not-allowed;
        background-color: $disableBorderColor;
        border-color: $mainBorderColor;
        @include box-shadow(inset 0 1px 2px rgba($white, 0.025));
    }

    .uneditable-input {
        overflow: hidden;
        white-space: nowrap;
    }

    .uneditable-textarea {
        width: auto;
        height: auto;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder,
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: $disableTextColor;
    }

    .form-actions {
        padding-left: 180px;
    }

    .hide {
        display: none;
    }

    .radio,
    .checkbox {
        min-height: 20px;
        padding-left: 20px;
    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        float: left;
        margin-left: -22px;
    }

    .controls {
        *display: inline-block;
        *padding-left: 20px;
        margin-left: 180px;
        *margin-left: 0;

        &:first-child {
            *padding-left: 180px;
        }
    }

    .controls > .radio:first-child,
    .controls > .checkbox:first-child {
        padding-top: 5px;
    }

    .radio.inline,
    .checkbox.inline {
        display: inline-block;
        padding-top: 5px;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .radio.inline + .radio.inline,
    .checkbox.inline + .checkbox.inline {
        margin-left: 10px;
    }

    input,
    textarea,
    .uneditable-input {
        margin-left: 0;
    }

    .controls-row {
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            line-height: 0;
            content: "";
        }
        &:after {
            clear: both;
        }
    }

    input[disabled],
    select[disabled],
    textarea[disabled],
    input[readonly],
    select[readonly],
    textarea[readonly] {
        cursor: not-allowed;
        background-color: $disableBackgroundColor;
    }

    input[type="radio"][disabled],
    input[type="checkbox"][disabled],
    input[type="radio"][readonly],
    input[type="checkbox"][readonly] {
        background-color: transparent;
    }

    /* STATES STYLES
        ------------------------------------*/

    .control-label {
        word-break: break-all;
        float: left;
        width: 160px;
        padding-top: 5px;
        text-align: right;
        line-height: normal;
    }

    .control-group.warning {

        #{$all-validation-state-elms} {
            color: $warningMainColor;
        }

        #{$main-validation-state-elms} {
            border-color: $warningMainColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
        }

        #{$main-validation-state-elms-focus} {
            border-color: $warningBorderColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 6px $warningShadowColor);
        }

    }

    .control-group.error {

        #{$all-validation-state-elms} {
            color: $errorMainColor;
        }

        #{$main-validation-state-elms} {
            border-color: $errorMainColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
        }

        #{$main-validation-state-elms-focus} {
            border-color: $errorBorderColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 6px $errorShadowColor);
        }

    }

    .control-group.success {

        #{$all-validation-state-elms} {
            color: $successMainColor;
        }

        #{$main-validation-state-elms} {
            border-color: $successMainColor;;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
        }

        #{$main-validation-state-elms-focus} {
            border-color: $successBorderColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 6px $successShadowColor);
        }

    }

    .control-group.info {

        #{$all-validation-state-elms} {
            color: $infoMainColor;
        }

        #{$main-validation-state-elms} {
            border-color: $infoMainColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
        }

        #{$main-validation-state-elms-focus} {
            border-color: $infoBorderColor;
            @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 6px $infoShadowColor);
        }

    }

    .control-group.warning,
    .control-group.error,
    .control-group.success,
    .control-group.info {

        input[type="radio"] {
            @include box-shadow(none);
        }

    }

    input:focus:invalid,
    textarea:focus:invalid,
    select:focus:invalid {
        color: $errorMainColor;
        border-color: $formErrorBorder;
    }

    input:focus:invalid:focus,
    textarea:focus:invalid:focus,
    select:focus:invalid:focus {
        border-color: $formErrorBorderFocus;
        @include box-shadow(0 0 6px $errorShadowColor);
    }

    .help-block,
    .help-inline {
        color: $helpTextColor;
    }

    .help-block {
        display: block;
        margin-bottom: 0;
    }

    .help-inline {
        display: inline-block;
        *display: inline;
        padding-left: 5px;
        vertical-align: middle;
        *zoom: 1;
    }

    .control-group {
        margin-bottom: 20px;
        *zoom: 1;

        &:before,
        &:after {
            display: table;
            line-height: 0;
            content: "";
        }
        &:after {
            clear: both;
        }

    }

    legend + .control-group {
        margin-top: 20px;
        -webkit-margin-top-collapse: separate;
    }

    .radio input[type="radio"] {
        width: 20px;
        float: none;
        vertical-align: baseline;
        margin-top: 0;
        margin-bottom: 0;
    }

    .radio .radio-label-text {
        line-height: 13px;
        vertical-align: baseline;
    }

    /* ARROW BUTTON STYLES
       -----------------------------------*/

    .button-arrow-left button,
    .button-arrow-right button {
        position: relative;
        box-shadow: none;
        height: 28px;
        overflow: visible;
    }

    .button-arrow-left button {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 20px;
    }

    .button-arrow-right button {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 20px;
    }

    .button-arrow-left button:after,
    .button-arrow-right button:after {
        content: ' ';
        width: 19px;
        height: 19px;
        display: inline-block;
        position: absolute;
        top: 3px;
        background-color: $backgroundColor;
        border: 2px solid $linkBorderColor;
        box-shadow: none;
    }

    .button-arrow-left button:after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        left: -10px;
        border-width: 0px 1px 1px 0px;
        border-bottom-right-radius: 5px;
    }

    .button-arrow-right button:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -10px;
        border-width: 1px 1px 0px 0px;
        border-top-right-radius: 5px;
    }

    .button-arrow-left button:hover:after,
    .button-arrow-right button:hover:after {
        background-color: $backgroundHoverColor;
    }
}

.form,
.form-element {
    >.component-content {
        overflow: hidden;
    }
}


/* FORM HORIZONTAL STYLES
   ------------------------------------*/
.form-horizontal {

    .radio {
        display: inline-block;
        margin-right: 10px;
    }

}

/* IE STYLES
    ------------------------------------*/

.lt-ie9 {

    .form {

        fieldset {
            position: relative;
            margin: 10px;
        }

        fieldset legend {
            position: relative;
            top: -0.7em;
            left: 0.5em;
            margin-right: 20px;
        }

        fieldset legend span {
            display: block;
            width: 100%;
        }

        .input-focus-border-fix {
            border-color: $activeBorderColor;
        }

        .button {
            border: 1px solid $linkBorderColor;
            height: auto;
            margin-left: 0;
            margin-right: 0;
        }

        .button-arrow-left button:after,
        .button-arrow-right button:after {
            position: static;
            border: none;
            display: inline;
        }

        .button-arrow-left button:before {
            content: "<<";
            padding-right: 5px;
        }

        .button-arrow-right button:after {
            content: ">>";
            padding-left: 5px;
        }
    }

}

.lt-ie8 {

    .form {

        fieldset legend {
            top: -0.5em;
        }

        .button {
            display: inline;
        }

        .button-arrow-left button,
        .button-arrow-right button {
            position: static;
        }

    }
}

/* MEDIA QUERIES
    ------------------------------------*/

@include respond-to(mobile) {

    .form {

        .radio input[type="radio"] {
            height: 14px;
        }

        .control-group {
            margin-bottom: 10px;
        }

        .checkboxField .control-label {
            float: left;
        }

        .control-label {
            float: none;
            width: 160px;
            padding-top: 5px;
            text-align: left;
        }

        .controls {
            margin-left: 0;
        }

        .help-block {
            margin-bottom: 10px;
        }

    }
}

@include respond-to(small-mobile) {

    .form {

        input,
        textarea,
        .uneditable-input {
            width: 200px;
        }

        select {
            width: 200px;
        }

    }

}

/* NO JS STYLES
    ------------------------------------*/

.no-js {

    .clearButton {
        display: none;
    }

}



