
#header {
  .topnav_submenu {
    .navigation {
      text-align: center;
      &.none {
        display: none;
      }
      &.theme-color-1 {background: $color-accent-1}
      &.theme-color-2 {background: $color-accent-2}
      &.theme-color-3 {background: $color-accent-3}
      &.theme-color-4 {background: $color-accent-4}
      &.theme-color-5 {background: $color-accent-5}

      .navigation-root {
        margin: 0;
        text-align: center;
        padding: 0;
        li {
          &.is-active {
            a {
              border: none;
              font-weight: bold;
            }
          }
          a {
            color: #fff;
            display: inline-block;
            margin: 0;
            padding: 5px 15px;
            font-weight: normal;
            font-size: 15px;
          }
        }
      }
    }
  }

}


@include respond-to(mobile) {
}